Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion]
"WallpaperCurrentProfile"="08c8bc64-45de-4b06-8d18-ebce01955538"
"AllPluginsSupportTransitions"="1"
"LicenseKey"="101-02-ILEKKA141B-QCMUT0AC75-zyd03mTZJQdhD1PfzXmsrZGmStnU212HaEGy56KzlCoMTQYsTmP62LyMQJX9YBHwSpcQGqoBZFB1v8rA7sUjGpbzwLkFZ7u1kBWvCSyAn0VdtJ5suohuDetK67rz9PswYs4/1AW80Aldv/YRuDVRy/v5s3aEhSM8bDplJkxI3/U="
"StartWithWindows"="1"
"ShowDesktopContextMenuItems"="0"
"CultureCode"="EN-US"
"TaskbarsIgnoreAltStartMenus"="0"
"AeroColourMode"="0"
"Win8StartScreenMoveSize"="0"
"AltTabEnabled"="1"
"MouseWheelScrolling"="0"
"MouseWrapX"="0"
"MouseWrapY"="0"
"MouseWrapMultipleMonitorsOnly"="0"
"MouseWrapNoSnag"="0"
"WindowManagement_WinMHelper"="0"
"Win8_WinX"="0"
"TrayIconAction"="ac987b6e-7aa4-46e8-9c31-5626c744bcc1"
"EnableHotKeys"="1"
"WindowMoveSizeToolTips"="0"
"MoveChildWindows"="0"
"MoveChildWindowsModalOnly"="1"
"MoveChildWindowsCentre"="1"
"WindowMoveMiddleClick"="1"
"MaximizedWindowDragging"="1"
"MaximizedWindowDraggingOverlay"="1"
"WindowSnappingMonitors"="1"
"WindowSnappingOtherApplications"="1"
"TitleBarButtonsEnabled"="0"
"TaskbarsEnabled"="1"
"TaskbarsUseJumpLists"="1"
"TaskbarsAllowReloadingWhenFullScreen"="0"
"TaskbarsShowOverFullScreen"="1"
"TaskbarFocusWindowOnDragOver"="1"
"TaskbarsOpacity"="80"
"TaskbarsMode"="0"
"TaskbarsPreview"="1"
"TaskbarsMiddleClick"="1"
"TaskbarsDisableAeroTransparency"="0"
"VersionSettings"="9.9.0.0"
"WindowsLogonEnabled"="1"
"WindowsLogonUseWallpaper"="0"
"WindowsLogonImage"="C:\\Users\\{{ custom_user }}\\Pictures\\walls\\fire_fhd.jpg"
"WindowsLogonBGColorRGB"="255,0,0,0"
"WindowsLogonSizeMode"="5"
"WindowsLogonColorMode"="0"
"WindowSnappingMode"="2"
"WindowSnappingModifier"="0"
"WindowSnapping"="3"
"WindowSnappingStickyMode"="0"
"TitleBarButtonsSeparators"=""
"Window_BFFormUpdate_LocationX"="901"
"Window_BFFormUpdate_LocationY"="382"
"Window_BFFormUpdate_LocationWidth"="600"
"Window_BFFormUpdate_LocationHeight"="480"
"Window_BFFormUpdate_LocationState"="Normal"
"TriggersEnabled"="0"
"WallpaperGooglePlusRefreshAccessToken"=""
"TaskbarsReplaceWindowsTaskbar"="0"
"AltTabShowDesktopWindow"="1"
"AltTabShowItemText"="1"
"AltTabThumbnailSizeWidthPX"="150"
"AltTabThumbnailSizeHeightPX"="100"
"TitleBarButtonsCondensed"="1"
"MaximizedWindowDraggingForNonMaxed"="0"
"WindowMoveNewProcessWindowsToCurrentMonitor"="0"
"WindowMoveNewProcessWindowsToCurrentMonitorOnlyFromStartMenu"="0"
"MonitorFadingEnabled"="0"
"MonitorFadingExcludeFullScreenWindow"="0"
"MonitorFadingMode"="3"
"MonitorFadingMonitorID"="0"
"MonitorFadingOpacity"="60"
"MonitorFadingColour"="-16777216"
"MouseWrapNoSnagY"="0"
"MouseWrapNoStickyCorners"="0"
"BFAPIEmailAddress"=""
"BFAPIPassword"=""
"BFAPIToken"=""
"BFAPIUserID"="00000000-0000-0000-0000-000000000000"
"BFAPIUserIDInt"="0"
"BFAPIUserName"=""
"RemoteControlSecurityCode"="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAt4rI8hGx4UyAYFQuX/38/AAAAAACAAAAAAAQZgAAAAEAACAAAADy4eU7ZUrfLillCeYlIkukvxkAYvS9JlXBxoqW1L00cwAAAAAOgAAAAAIAACAAAAAfXaFQ/o6+W8Ksyx6w+jPZIm8svyoMTnft4JxP+60dFxAAAADIVAaDjvni0Fbo3BMsEJefQAAAANKqllpxIeu6f7uOM5WaDUsNj0HbM8bN3xMq0RB4FuJU7ZWxmsBQIXf/Wq715VitSxlALSOIhRaOgKwrLB17jMo="
"FreeLicenseReminderLastShown"="638143098857412798"
"BFAPIDataSizeMaxBytes"="25000000"
"LogDebugLevel"="0"
"AutoUpdate"="1"
"AutoUpdateBeta"="0"
"Win8StartScreenWidth"="500"
"Win8StartScreenHeight"="500"
"RemoteControlEnabled"="0"
"RemoteControlAllowCodePopup"="1"
"WallpaperLastUsedFolder"="C:\\Users\\{{ custom_user }}\\Pictures\\walls"
"WindowsLockScreenGeneratedImage"="C:\\Users\\{{ custom_user }}\\AppData\\Local\\DisplayFusion\\WindowsLockScreen_1.jpg"
"WallpaperEnabled"="1"
"WallpaperSlideshowEnabled"="1"
"WindowPositionsJSON"=hex(1):7b,00,0d,00,0a,00,20,00,20,00,22,00,69,00,64,00,\
  22,00,3a,00,20,00,22,00,30,00,63,00,61,00,61,00,31,00,37,00,66,00,32,00,2d,\
  00,32,00,65,00,33,00,33,00,2d,00,34,00,66,00,32,00,34,00,2d,00,61,00,65,00,\
  32,00,63,00,2d,00,32,00,39,00,64,00,61,00,62,00,62,00,34,00,64,00,66,00,61,\
  00,66,00,38,00,22,00,2c,00,0d,00,0a,00,20,00,20,00,22,00,6e,00,61,00,6d,00,\
  65,00,22,00,3a,00,20,00,22,00,57,00,69,00,6e,00,64,00,6f,00,77,00,50,00,6f,\
  00,73,00,69,00,74,00,69,00,6f,00,6e,00,73,00,53,00,61,00,76,00,65,00,22,00,\
  2c,00,0d,00,0a,00,20,00,20,00,22,00,69,00,67,00,6e,00,6f,00,72,00,65,00,4d,\
  00,69,00,6e,00,69,00,6d,00,69,00,7a,00,65,00,64,00,57,00,69,00,6e,00,64,00,\
  6f,00,77,00,73,00,57,00,68,00,65,00,6e,00,52,00,65,00,73,00,74,00,6f,00,72,\
  00,69,00,6e,00,67,00,22,00,3a,00,20,00,66,00,61,00,6c,00,73,00,65,00,2c,00,\
  0d,00,0a,00,20,00,20,00,22,00,76,00,65,00,72,00,73,00,69,00,6f,00,6e,00,22,\
  00,3a,00,20,00,22,00,39,00,2e,00,39,00,2e,00,30,00,2e,00,30,00,22,00,2c,00,\
  0d,00,0a,00,20,00,20,00,22,00,77,00,69,00,6e,00,64,00,6f,00,77,00,73,00,22,\
  00,3a,00,20,00,5b,00,0d,00,0a,00,20,00,20,00,20,00,20,00,7b,00,0d,00,0a,00,\
  20,00,20,00,20,00,20,00,20,00,20,00,22,00,77,00,69,00,6e,00,64,00,6f,00,77,\
  00,48,00,61,00,6e,00,64,00,6c,00,65,00,22,00,3a,00,20,00,38,00,35,00,38,00,\
  35,00,34,00,32,00,30,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,\
  00,22,00,70,00,72,00,6f,00,63,00,65,00,73,00,73,00,50,00,61,00,74,00,68,00,\
  22,00,3a,00,20,00,22,00,43,00,3a,00,5c,00,5c,00,50,00,72,00,6f,00,67,00,72,\
  00,61,00,6d,00,20,00,46,00,69,00,6c,00,65,00,73,00,5c,00,5c,00,47,00,6f,00,\
  6f,00,67,00,6c,00,65,00,5c,00,5c,00,43,00,68,00,72,00,6f,00,6d,00,65,00,5c,\
  00,5c,00,41,00,70,00,70,00,6c,00,69,00,63,00,61,00,74,00,69,00,6f,00,6e,00,\
  5c,00,5c,00,63,00,68,00,72,00,6f,00,6d,00,65,00,2e,00,65,00,78,00,65,00,22,\
  00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,77,00,69,00,\
  6e,00,64,00,6f,00,77,00,43,00,6c,00,61,00,73,00,73,00,22,00,3a,00,20,00,22,\
  00,5c,00,22,00,43,00,68,00,72,00,6f,00,6d,00,65,00,5f,00,57,00,69,00,64,00,\
  67,00,65,00,74,00,57,00,69,00,6e,00,5f,00,31,00,5c,00,22,00,22,00,2c,00,0d,\
  00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,77,00,69,00,6e,00,64,00,\
  6f,00,77,00,54,00,65,00,78,00,74,00,22,00,3a,00,20,00,22,00,5c,00,22,00,43,\
  00,68,00,61,00,72,00,69,00,6f,00,74,00,20,00,2d,00,20,00,59,00,6f,00,75,00,\
  54,00,75,00,62,00,65,00,20,00,2d,00,20,00,47,00,6f,00,6f,00,67,00,6c,00,65,\
  00,20,00,43,00,68,00,72,00,6f,00,6d,00,65,00,5c,00,22,00,22,00,2c,00,0d,00,\
  0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,78,00,22,00,3a,00,20,00,32,\
  00,35,00,36,00,30,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,\
  22,00,79,00,22,00,3a,00,20,00,2d,00,36,00,35,00,38,00,2c,00,0d,00,0a,00,20,\
  00,20,00,20,00,20,00,20,00,20,00,22,00,77,00,69,00,64,00,74,00,68,00,22,00,\
  3a,00,20,00,31,00,34,00,34,00,30,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,\
  00,20,00,20,00,22,00,68,00,65,00,69,00,67,00,68,00,74,00,22,00,3a,00,20,00,\
  31,00,32,00,36,00,31,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,\
  00,22,00,69,00,73,00,4d,00,69,00,6e,00,69,00,6d,00,69,00,7a,00,65,00,64,00,\
  22,00,3a,00,20,00,66,00,61,00,6c,00,73,00,65,00,2c,00,0d,00,0a,00,20,00,20,\
  00,20,00,20,00,20,00,20,00,22,00,69,00,73,00,4d,00,61,00,78,00,69,00,6d,00,\
  69,00,7a,00,65,00,64,00,22,00,3a,00,20,00,66,00,61,00,6c,00,73,00,65,00,2c,\
  00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,69,00,73,00,4d,00,\
  61,00,78,00,69,00,6d,00,69,00,7a,00,65,00,64,00,49,00,67,00,6e,00,6f,00,72,\
  00,69,00,6e,00,67,00,53,00,70,00,6c,00,69,00,74,00,73,00,22,00,3a,00,20,00,\
  66,00,61,00,6c,00,73,00,65,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,\
  00,20,00,22,00,68,00,61,00,73,00,4d,00,69,00,6e,00,69,00,6d,00,69,00,7a,00,\
  65,00,42,00,6f,00,78,00,22,00,3a,00,20,00,74,00,72,00,75,00,65,00,2c,00,0d,\
  00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,68,00,61,00,73,00,4d,00,\
  61,00,78,00,69,00,6d,00,69,00,7a,00,65,00,42,00,6f,00,78,00,22,00,3a,00,20,\
  00,74,00,72,00,75,00,65,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,\
  20,00,22,00,73,00,61,00,76,00,65,00,64,00,53,00,63,00,61,00,6c,00,65,00,44,\
  00,50,00,49,00,22,00,3a,00,20,00,31,00,2e,00,32,00,35,00,2c,00,0d,00,0a,00,\
  20,00,20,00,20,00,20,00,20,00,20,00,22,00,6d,00,61,00,74,00,63,00,68,00,57,\
  00,69,00,6e,00,64,00,6f,00,77,00,48,00,61,00,6e,00,64,00,6c,00,65,00,22,00,\
  3a,00,20,00,74,00,72,00,75,00,65,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,\
  00,20,00,20,00,22,00,6d,00,61,00,74,00,63,00,68,00,50,00,72,00,6f,00,63,00,\
  65,00,73,00,73,00,50,00,61,00,74,00,68,00,22,00,3a,00,20,00,66,00,61,00,6c,\
  00,73,00,65,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,\
  6d,00,61,00,74,00,63,00,68,00,57,00,69,00,6e,00,64,00,6f,00,77,00,43,00,6c,\
  00,61,00,73,00,73,00,22,00,3a,00,20,00,66,00,61,00,6c,00,73,00,65,00,2c,00,\
  0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,6d,00,61,00,74,00,63,\
  00,68,00,57,00,69,00,6e,00,64,00,6f,00,77,00,54,00,65,00,78,00,74,00,22,00,\
  3a,00,20,00,66,00,61,00,6c,00,73,00,65,00,0d,00,0a,00,20,00,20,00,20,00,20,\
  00,7d,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,7b,00,0d,00,0a,00,20,00,\
  20,00,20,00,20,00,20,00,20,00,22,00,77,00,69,00,6e,00,64,00,6f,00,77,00,48,\
  00,61,00,6e,00,64,00,6c,00,65,00,22,00,3a,00,20,00,33,00,32,00,38,00,36,00,\
  36,00,38,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,70,\
  00,72,00,6f,00,63,00,65,00,73,00,73,00,50,00,61,00,74,00,68,00,22,00,3a,00,\
  20,00,22,00,43,00,3a,00,5c,00,5c,00,50,00,72,00,6f,00,67,00,72,00,61,00,6d,\
  00,20,00,46,00,69,00,6c,00,65,00,73,00,5c,00,5c,00,57,00,69,00,6e,00,64,00,\
  6f,00,77,00,73,00,41,00,70,00,70,00,73,00,5c,00,5c,00,4d,00,69,00,63,00,72,\
  00,6f,00,73,00,6f,00,66,00,74,00,2e,00,57,00,69,00,6e,00,64,00,6f,00,77,00,\
  73,00,54,00,65,00,72,00,6d,00,69,00,6e,00,61,00,6c,00,5f,00,31,00,2e,00,31,\
  00,36,00,2e,00,31,00,30,00,32,00,36,00,31,00,2e,00,30,00,5f,00,78,00,36,00,\
  34,00,5f,00,5f,00,38,00,77,00,65,00,6b,00,79,00,62,00,33,00,64,00,38,00,62,\
  00,62,00,77,00,65,00,5c,00,5c,00,57,00,69,00,6e,00,64,00,6f,00,77,00,73,00,\
  54,00,65,00,72,00,6d,00,69,00,6e,00,61,00,6c,00,2e,00,65,00,78,00,65,00,22,\
  00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,77,00,69,00,\
  6e,00,64,00,6f,00,77,00,43,00,6c,00,61,00,73,00,73,00,22,00,3a,00,20,00,22,\
  00,5c,00,22,00,43,00,41,00,53,00,43,00,41,00,44,00,49,00,41,00,5f,00,48,00,\
  4f,00,53,00,54,00,49,00,4e,00,47,00,5f,00,57,00,49,00,4e,00,44,00,4f,00,57,\
  00,5f,00,43,00,4c,00,41,00,53,00,53,00,5c,00,22,00,22,00,2c,00,0d,00,0a,00,\
  20,00,20,00,20,00,20,00,20,00,20,00,22,00,77,00,69,00,6e,00,64,00,6f,00,77,\
  00,54,00,65,00,78,00,74,00,22,00,3a,00,20,00,22,00,5c,00,22,00,55,00,62,00,\
  75,00,6e,00,74,00,75,00,5c,00,22,00,22,00,2c,00,0d,00,0a,00,20,00,20,00,20,\
  00,20,00,20,00,20,00,22,00,78,00,22,00,3a,00,20,00,32,00,35,00,36,00,30,00,\
  2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,79,00,22,00,3a,\
  00,20,00,36,00,30,00,33,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,\
  20,00,22,00,77,00,69,00,64,00,74,00,68,00,22,00,3a,00,20,00,31,00,34,00,34,\
  00,30,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,68,00,\
  65,00,69,00,67,00,68,00,74,00,22,00,3a,00,20,00,31,00,32,00,36,00,31,00,2c,\
  00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,69,00,73,00,4d,00,\
  69,00,6e,00,69,00,6d,00,69,00,7a,00,65,00,64,00,22,00,3a,00,20,00,66,00,61,\
  00,6c,00,73,00,65,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,\
  22,00,69,00,73,00,4d,00,61,00,78,00,69,00,6d,00,69,00,7a,00,65,00,64,00,22,\
  00,3a,00,20,00,66,00,61,00,6c,00,73,00,65,00,2c,00,0d,00,0a,00,20,00,20,00,\
  20,00,20,00,20,00,20,00,22,00,69,00,73,00,4d,00,61,00,78,00,69,00,6d,00,69,\
  00,7a,00,65,00,64,00,49,00,67,00,6e,00,6f,00,72,00,69,00,6e,00,67,00,53,00,\
  70,00,6c,00,69,00,74,00,73,00,22,00,3a,00,20,00,66,00,61,00,6c,00,73,00,65,\
  00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,68,00,61,00,\
  73,00,4d,00,69,00,6e,00,69,00,6d,00,69,00,7a,00,65,00,42,00,6f,00,78,00,22,\
  00,3a,00,20,00,74,00,72,00,75,00,65,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,\
  20,00,20,00,20,00,22,00,68,00,61,00,73,00,4d,00,61,00,78,00,69,00,6d,00,69,\
  00,7a,00,65,00,42,00,6f,00,78,00,22,00,3a,00,20,00,74,00,72,00,75,00,65,00,\
  2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,73,00,61,00,76,\
  00,65,00,64,00,53,00,63,00,61,00,6c,00,65,00,44,00,50,00,49,00,22,00,3a,00,\
  20,00,31,00,2e,00,32,00,35,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,\
  00,20,00,22,00,6d,00,61,00,74,00,63,00,68,00,57,00,69,00,6e,00,64,00,6f,00,\
  77,00,48,00,61,00,6e,00,64,00,6c,00,65,00,22,00,3a,00,20,00,74,00,72,00,75,\
  00,65,00,2c,00,0d,00,0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,6d,00,\
  61,00,74,00,63,00,68,00,50,00,72,00,6f,00,63,00,65,00,73,00,73,00,50,00,61,\
  00,74,00,68,00,22,00,3a,00,20,00,66,00,61,00,6c,00,73,00,65,00,2c,00,0d,00,\
  0a,00,20,00,20,00,20,00,20,00,20,00,20,00,22,00,6d,00,61,00,74,00,63,00,68,\
  00,57,00,69,00,6e,00,64,00,6f,00,77,00,43,00,6c,00,61,00,73,00,73,00,22,00,\
  3a,00,20,00,66,00,61,00,6c,00,73,00,65,00,2c,00,0d,00,0a,00,20,00,20,00,20,\
  00,20,00,20,00,20,00,22,00,6d,00,61,00,74,00,63,00,68,00,57,00,69,00,6e,00,\
  64,00,6f,00,77,00,54,00,65,00,78,00,74,00,22,00,3a,00,20,00,66,00,61,00,6c,\
  00,73,00,65,00,0d,00,0a,00,20,00,20,00,20,00,20,00,7d,00,0d,00,0a,00,20,00,\
  20,00,5d,00,0d,00,0a,00,7d,00,00,00
"MonitorSplitsScreenSavers"="1"
"MonitorSplitsTaskbars"="1"
"MonitorSplitsWallpaper"="1"
"MonitorSplitsWindowManagement"="1"
"MonitorSplitsMonitorFading"="1"
"MonitorSplits"=""
"MonitorSplitsAutoSplitEyefinity"="0"
"MonitorSelectorMoveType"="0"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Compatibility]

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\DesktopIcons]

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\HotKeys]
"HotKey_MoveMonitor"=""
"HotKey_MoveMonitor_ID"="ec38005a-f811-4ae3-9fa5-a5052a1ceb6d"
"HotKey_MoveMonitor_TitleBarImage"="Windows XP (Dark)\\Next Monitor.png"
"HotKey_MoveMonitor_TitleBarSort"="1"
"HotKey_MoveMonitor_ShowInJumpList"="1"
"HotKey_ScreenSaverDisable"=""
"HotKey_ScreenSaverDisable_ID"="a69cf413-0d35-4629-80a4-37c2cbd0963e"
"HotKey_ScreenSaverDisable_TitleBarImage"=""
"HotKey_ScreenSaverDisable_TitleBarSort"="1000"
"HotKey_ScreenSaverDisable_ShowInJumpList"="0"
"HotKey_ScreenSaverEnable"=""
"HotKey_ScreenSaverEnable_ID"="89942f44-18ae-45f6-add4-5b48c56d3d04"
"HotKey_ScreenSaverEnable_TitleBarImage"=""
"HotKey_ScreenSaverEnable_TitleBarSort"="1000"
"HotKey_ScreenSaverEnable_ShowInJumpList"="0"
"HotKey_HighlightWindow"=""
"HotKey_HighlightWindow_ID"="59f46486-9af8-4bbc-a833-4289599a73ac"
"HotKey_HighlightWindow_TitleBarImage"=""
"HotKey_HighlightWindow_TitleBarSort"="1000"
"HotKey_HighlightWindow_ShowInJumpList"="0"
"HotKey_HighlightWindowDisableAll"=""
"HotKey_HighlightWindowDisableAll_ID"="8f34e8e0-7808-4027-a21a-3aeba2475c37"
"HotKey_HighlightWindowDisableAll_TitleBarImage"=""
"HotKey_HighlightWindowDisableAll_TitleBarSort"="1000"
"HotKey_HighlightWindowDisableAll_ShowInJumpList"="0"
"HotKey_LoadNextMonitorProfile"=""
"HotKey_LoadNextMonitorProfile_ID"="0817dcbe-e243-44ae-802a-10ab07595479"
"HotKey_LoadNextMonitorProfile_TitleBarImage"=""
"HotKey_LoadNextMonitorProfile_TitleBarSort"="1000"
"HotKey_LoadNextMonitorProfile_ShowInJumpList"="0"
"HotKey_ChangeRandomWallpaperAll"=""
"HotKey_ChangeRandomWallpaperAll_ID"="9c4b94f4-0157-4bf8-be5c-52c53971cb2c"
"HotKey_ChangeRandomWallpaperAll_TitleBarImage"=""
"HotKey_ChangeRandomWallpaperAll_TitleBarSort"="1000"
"HotKey_ChangeRandomWallpaperAll_ShowInJumpList"="0"
"HotKey_LoadPreviousMonitorProfile"=""
"HotKey_LoadPreviousMonitorProfile_ID"="250cdb44-c174-4ffc-9da8-99bef20b5631"
"HotKey_LoadPreviousMonitorProfile_TitleBarImage"=""
"HotKey_LoadPreviousMonitorProfile_TitleBarSort"="1000"
"HotKey_LoadPreviousMonitorProfile_ShowInJumpList"="0"
"HotKey_LockDesktop"=""
"HotKey_LockDesktop_ID"="97016f63-e6f6-41f9-874a-6fe82d5aa88f"
"HotKey_LockDesktop_TitleBarImage"=""
"HotKey_LockDesktop_TitleBarSort"="1000"
"HotKey_LockDesktop_ShowInJumpList"="0"
"HotKey_LockMouseCursorFocusedWindow"=""
"HotKey_LockMouseCursorFocusedWindow_ID"="5b2bce96-44dc-475e-aaf7-bcdd4bd71e18"
"HotKey_LockMouseCursorFocusedWindow_TitleBarImage"=""
"HotKey_LockMouseCursorFocusedWindow_TitleBarSort"="1000"
"HotKey_LockMouseCursorFocusedWindow_ShowInJumpList"="0"
"HotKey_LockMouseCursorMonitor"=""
"HotKey_LockMouseCursorMonitor_ID"="f0ed3b67-21e9-4998-9769-140dba18054e"
"HotKey_LockMouseCursorMonitor_TitleBarImage"=""
"HotKey_LockMouseCursorMonitor_TitleBarSort"="1000"
"HotKey_LockMouseCursorMonitor_ShowInJumpList"="0"
"HotKey_MaximizeWindow"=""
"HotKey_MaximizeWindow_ID"="2ceb5fc9-a6af-4d4a-bd0f-d54845f9824b"
"HotKey_MaximizeWindow_TitleBarImage"=""
"HotKey_MaximizeWindow_TitleBarSort"="1000"
"HotKey_MaximizeWindow_ShowInJumpList"="0"
"HotKey_MaximizeWindowIgnoreSplits"=""
"HotKey_MaximizeWindowIgnoreSplits_ID"="c4a142a9-98dc-44ee-b7e4-79aaccf81dbd"
"HotKey_MaximizeWindowIgnoreSplits_TitleBarImage"=""
"HotKey_MaximizeWindowIgnoreSplits_TitleBarSort"="1000"
"HotKey_MaximizeWindowIgnoreSplits_ShowInJumpList"="0"
"HotKey_MinimizeAllWindowsExceptCurrentWindowAllMonitors"=""
"HotKey_MinimizeAllWindowsExceptCurrentWindowAllMonitors_ID"="785efe08-8bb5-4873-99e9-bc65e6593873"
"HotKey_MinimizeAllWindowsExceptCurrentWindowAllMonitors_TitleBarImage"=""
"HotKey_MinimizeAllWindowsExceptCurrentWindowAllMonitors_TitleBarSort"="1000"
"HotKey_MinimizeAllWindowsExceptCurrentWindowAllMonitors_ShowInJumpList"="0"
"HotKey_MinimizeAllWindowsExceptCurrentWindowCurrentMonitor"=""
"HotKey_MinimizeAllWindowsExceptCurrentWindowCurrentMonitor_ID"="ed41007f-2034-4c66-ba51-c62d2a426bc6"
"HotKey_MinimizeAllWindowsExceptCurrentWindowCurrentMonitor_TitleBarImage"=""
"HotKey_MinimizeAllWindowsExceptCurrentWindowCurrentMonitor_TitleBarSort"="1000"
"HotKey_MinimizeAllWindowsExceptCurrentWindowCurrentMonitor_ShowInJumpList"="0"
"HotKey_MinimizeWindow"=""
"HotKey_MinimizeWindow_ID"="9edd2640-ecce-4266-99e2-b450e8f32ac0"
"HotKey_MinimizeWindow_TitleBarImage"=""
"HotKey_MinimizeWindow_TitleBarSort"="1000"
"HotKey_MinimizeWindow_ShowInJumpList"="0"
"HotKey_MinimizeWindowToSystemTray"=""
"HotKey_MinimizeWindowToSystemTray_ID"="4b58791f-dacd-41c4-856c-3966271cc4b9"
"HotKey_MinimizeWindowToSystemTray_TitleBarImage"=""
"HotKey_MinimizeWindowToSystemTray_TitleBarSort"="1000"
"HotKey_MinimizeWindowToSystemTray_ShowInJumpList"="1"
"HotKey_MirrorMonitor"=""
"HotKey_MirrorMonitor_ID"="5ded94ee-57ce-4312-9448-c699fea58558"
"HotKey_MirrorMonitor_TitleBarImage"=""
"HotKey_MirrorMonitor_TitleBarSort"="1000"
"HotKey_MirrorMonitor_ShowInJumpList"="0"
"HotKey_MirrorWindow"=""
"HotKey_MirrorWindow_ID"="744e3b9e-5b6a-4ad7-81d4-7b7af859874c"
"HotKey_MirrorWindow_TitleBarImage"=""
"HotKey_MirrorWindow_TitleBarSort"="1000"
"HotKey_MirrorWindow_ShowInJumpList"="0"
"HotKey_MoveAllWindowsToCurrentMonitor"=""
"HotKey_MoveAllWindowsToCurrentMonitor_ID"="3d378064-cdd2-45a1-8309-db909b2caf64"
"HotKey_MoveAllWindowsToCurrentMonitor_TitleBarImage"=""
"HotKey_MoveAllWindowsToCurrentMonitor_TitleBarSort"="1000"
"HotKey_MoveAllWindowsToCurrentMonitor_ShowInJumpList"="0"
"HotKey_MouseCursorCentreActiveWindow"=""
"HotKey_MouseCursorCentreActiveWindow_ID"="a2067b32-45b1-4f2d-84b2-c41f90298c49"
"HotKey_MouseCursorCentreActiveWindow_TitleBarImage"=""
"HotKey_MouseCursorCentreActiveWindow_TitleBarSort"="1000"
"HotKey_MouseCursorCentreActiveWindow_ShowInJumpList"="0"
"HotKey_MouseCursorCentreCurrentMonitor"=""
"HotKey_MouseCursorCentreCurrentMonitor_ID"="7e836ae7-085e-4dd4-837b-fea34db1a688"
"HotKey_MouseCursorCentreCurrentMonitor_TitleBarImage"=""
"HotKey_MouseCursorCentreCurrentMonitor_TitleBarSort"="1000"
"HotKey_MouseCursorCentreCurrentMonitor_ShowInJumpList"="0"
"HotKey_MouseCursorCentreDifferentMonitor"=""
"HotKey_MouseCursorCentreDifferentMonitor_ID"="d68ffe24-dd64-41ae-a15c-40a41e90ae2f"
"HotKey_MouseCursorCentreDifferentMonitor_TitleBarImage"=""
"HotKey_MouseCursorCentreDifferentMonitor_TitleBarSort"="1000"
"HotKey_MouseCursorCentreDifferentMonitor_ShowInJumpList"="0"
"HotKey_MouseCursorMoveNextMonitor"=""
"HotKey_MouseCursorMoveNextMonitor_ID"="e88f88fa-d69c-4701-b751-b5c0c7d1d59f"
"HotKey_MouseCursorMoveNextMonitor_TitleBarImage"=""
"HotKey_MouseCursorMoveNextMonitor_TitleBarSort"="1000"
"HotKey_MouseCursorMoveNextMonitor_ShowInJumpList"="0"
"HotKey_MouseCursorMovePreviousMonitor"=""
"HotKey_MouseCursorMovePreviousMonitor_ID"="2415ec11-af26-4319-bacf-7b4542e25e43"
"HotKey_MouseCursorMovePreviousMonitor_TitleBarImage"=""
"HotKey_MouseCursorMovePreviousMonitor_TitleBarSort"="1000"
"HotKey_MouseCursorMovePreviousMonitor_ShowInJumpList"="0"
"HotKey_MoveWindowBottomLeft"=""
"HotKey_MoveWindowBottomLeft_ID"="86fd0816-c3b6-4e83-96e7-72ecc8f0c1be"
"HotKey_MoveWindowBottomLeft_TitleBarImage"=""
"HotKey_MoveWindowBottomLeft_TitleBarSort"="1000"
"HotKey_MoveWindowBottomLeft_ShowInJumpList"="0"
"HotKey_MoveWindowBottomRight"=""
"HotKey_MoveWindowBottomRight_ID"="4c965dfa-60ef-48b8-8d43-5f3a0483087f"
"HotKey_MoveWindowBottomRight_TitleBarImage"=""
"HotKey_MoveWindowBottomRight_TitleBarSort"="1000"
"HotKey_MoveWindowBottomRight_ShowInJumpList"="0"
"HotKey_CentreWindow"=""
"HotKey_CentreWindow_ID"="0811f708-a4cf-4547-b170-d6acdac69181"
"HotKey_CentreWindow_TitleBarImage"=""
"HotKey_CentreWindow_TitleBarSort"="1000"
"HotKey_CentreWindow_ShowInJumpList"="0"
"HotKey_CentreWindowSize"=""
"HotKey_CentreWindowSize_ID"="3fcd0595-6338-404a-a482-517b4296bd07"
"HotKey_CentreWindowSize_TitleBarImage"=""
"HotKey_CentreWindowSize_TitleBarSort"="1000"
"HotKey_CentreWindowSize_ShowInJumpList"="0"
"HotKey_WindowCurrentMonitor"=""
"HotKey_WindowCurrentMonitor_ID"="e88823d4-0a31-45b1-b662-a6167465349b"
"HotKey_WindowCurrentMonitor_TitleBarImage"=""
"HotKey_WindowCurrentMonitor_TitleBarSort"="1000"
"HotKey_WindowCurrentMonitor_ShowInJumpList"="0"
"HotKey_WindowCurrentMonitorMaximize"=""
"HotKey_WindowCurrentMonitorMaximize_ID"="c5b3b5db-3a2f-4a8e-baaf-4384b73757aa"
"HotKey_WindowCurrentMonitorMaximize_TitleBarImage"=""
"HotKey_WindowCurrentMonitorMaximize_TitleBarSort"="1000"
"HotKey_WindowCurrentMonitorMaximize_ShowInJumpList"="0"
"HotKey_WindowCurrentMonitorMinimize"=""
"HotKey_WindowCurrentMonitorMinimize_ID"="bd344c90-1587-4ce9-a0ee-810b0d0de561"
"HotKey_WindowCurrentMonitorMinimize_TitleBarImage"=""
"HotKey_WindowCurrentMonitorMinimize_TitleBarSort"="1000"
"HotKey_WindowCurrentMonitorMinimize_ShowInJumpList"="0"
"HotKey_WindowCurrentMonitorResize"=""
"HotKey_WindowCurrentMonitorResize_ID"="ea876f8f-9a5d-4e6c-a107-3c8493ffca6a"
"HotKey_WindowCurrentMonitorResize_TitleBarImage"=""
"HotKey_WindowCurrentMonitorResize_TitleBarSort"="1000"
"HotKey_WindowCurrentMonitorResize_ShowInJumpList"="0"
"HotKey_ShowMonitorSelector"=""
"HotKey_ShowMonitorSelector_ID"="85ea5809-359c-4d2c-b874-4ffcf65c1fb7"
"HotKey_ShowMonitorSelector_TitleBarImage"=""
"HotKey_ShowMonitorSelector_TitleBarSort"="1000"
"HotKey_ShowMonitorSelector_ShowInJumpList"="0"
"HotKey_MoveMonitorMaximize"=""
"HotKey_MoveMonitorMaximize_ID"="19d0636f-2404-44ec-8610-092852524f57"
"HotKey_MoveMonitorMaximize_TitleBarImage"=""
"HotKey_MoveMonitorMaximize_TitleBarSort"="1000"
"HotKey_MoveMonitorMaximize_ShowInJumpList"="0"
"HotKey_MoveMonitorMinimize"=""
"HotKey_MoveMonitorMinimize_ID"="8ff66f33-b6ff-4b58-afc4-552811072786"
"HotKey_MoveMonitorMinimize_TitleBarImage"=""
"HotKey_MoveMonitorMinimize_TitleBarSort"="1000"
"HotKey_MoveMonitorMinimize_ShowInJumpList"="0"
"HotKey_MoveMonitorSize"=""
"HotKey_MoveMonitorSize_ID"="79d34326-7dd1-4d27-9ecd-add2a2ba2357"
"HotKey_MoveMonitorSize_TitleBarImage"=""
"HotKey_MoveMonitorSize_TitleBarSort"="1000"
"HotKey_MoveMonitorSize_ShowInJumpList"="0"
"HotKey_PrevMonitor"=""
"HotKey_PrevMonitor_ID"="7c041a90-c88c-4bf8-aada-2855f8d3903e"
"HotKey_PrevMonitor_TitleBarImage"=""
"HotKey_PrevMonitor_TitleBarSort"="1000"
"HotKey_PrevMonitor_ShowInJumpList"="0"
"HotKey_PrevMonitorMaximize"=""
"HotKey_PrevMonitorMaximize_ID"="6895acce-b934-40b7-befc-8c6377558677"
"HotKey_PrevMonitorMaximize_TitleBarImage"=""
"HotKey_PrevMonitorMaximize_TitleBarSort"="1000"
"HotKey_PrevMonitorMaximize_ShowInJumpList"="0"
"HotKey_PrevMonitorMinimize"=""
"HotKey_PrevMonitorMinimize_ID"="ea36c476-d9a4-461f-bd3a-94fdeb987e49"
"HotKey_PrevMonitorMinimize_TitleBarImage"=""
"HotKey_PrevMonitorMinimize_TitleBarSort"="1000"
"HotKey_PrevMonitorMinimize_ShowInJumpList"="0"
"HotKey_PrevMonitorSize"=""
"HotKey_PrevMonitorSize_ID"="f2c387f2-e992-4ed2-b008-45a8531236b4"
"HotKey_PrevMonitorSize_TitleBarImage"=""
"HotKey_PrevMonitorSize_TitleBarSort"="1000"
"HotKey_PrevMonitorSize_ShowInJumpList"="0"
"HotKey_WindowPrimaryMonitor"=""
"HotKey_WindowPrimaryMonitor_ID"="784393bc-6979-4806-ba7c-ed96aa5cc4ab"
"HotKey_WindowPrimaryMonitor_TitleBarImage"=""
"HotKey_WindowPrimaryMonitor_TitleBarSort"="1000"
"HotKey_WindowPrimaryMonitor_ShowInJumpList"="0"
"HotKey_WindowPrimaryMonitorMaximize"=""
"HotKey_WindowPrimaryMonitorMaximize_ID"="35577584-278c-49cd-a378-188c791175eb"
"HotKey_WindowPrimaryMonitorMaximize_TitleBarImage"=""
"HotKey_WindowPrimaryMonitorMaximize_TitleBarSort"="1000"
"HotKey_WindowPrimaryMonitorMaximize_ShowInJumpList"="0"
"HotKey_WindowPrimaryMonitorMinimize"=""
"HotKey_WindowPrimaryMonitorMinimize_ID"="7a4ebece-3b4c-45f0-86bb-c119843d5643"
"HotKey_WindowPrimaryMonitorMinimize_TitleBarImage"=""
"HotKey_WindowPrimaryMonitorMinimize_TitleBarSort"="1000"
"HotKey_WindowPrimaryMonitorMinimize_ShowInJumpList"="0"
"HotKey_WindowPrimaryMonitorResize"=""
"HotKey_WindowPrimaryMonitorResize_ID"="cc372713-ed5e-43e2-a271-f790515bb689"
"HotKey_WindowPrimaryMonitorResize_TitleBarImage"=""
"HotKey_WindowPrimaryMonitorResize_TitleBarSort"="1000"
"HotKey_WindowPrimaryMonitorResize_ShowInJumpList"="0"
"HotKey_MoveWindowTopLeft"=""
"HotKey_MoveWindowTopLeft_ID"="3259e634-08af-4244-b25d-8402fb899b4e"
"HotKey_MoveWindowTopLeft_TitleBarImage"=""
"HotKey_MoveWindowTopLeft_TitleBarSort"="1000"
"HotKey_MoveWindowTopLeft_ShowInJumpList"="0"
"HotKey_MoveWindowTopRight"=""
"HotKey_MoveWindowTopRight_ID"="c2418d4f-45fc-483b-819b-188a600c5c5e"
"HotKey_MoveWindowTopRight_TitleBarImage"=""
"HotKey_MoveWindowTopRight_TitleBarSort"="1000"
"HotKey_MoveWindowTopRight_ShowInJumpList"="0"
"HotKey_OpenDFWindowWallpaper"=""
"HotKey_OpenDFWindowWallpaper_ID"="5e83a1d6-2e48-44f3-b2ac-19e760ca0ed3"
"HotKey_OpenDFWindowWallpaper_TitleBarImage"=""
"HotKey_OpenDFWindowWallpaper_TitleBarSort"="1000"
"HotKey_OpenDFWindowWallpaper_ShowInJumpList"="0"
"HotKey_OpenDFWindowMonitorConfig"=""
"HotKey_OpenDFWindowMonitorConfig_ID"="195ae2f9-6ca0-4dfb-b69c-dbc260da54a1"
"HotKey_OpenDFWindowMonitorConfig_TitleBarImage"=""
"HotKey_OpenDFWindowMonitorConfig_TitleBarSort"="1000"
"HotKey_OpenDFWindowMonitorConfig_ShowInJumpList"="0"
"HotKey_OpenDFWindowSettings"=""
"HotKey_OpenDFWindowSettings_ID"="ac987b6e-7aa4-46e8-9c31-5626c744bcc1"
"HotKey_OpenDFWindowSettings_TitleBarImage"=""
"HotKey_OpenDFWindowSettings_TitleBarSort"="1000"
"HotKey_OpenDFWindowSettings_ShowInJumpList"="0"
"HotKey_TogglePreventWindowDeactivation"=""
"HotKey_TogglePreventWindowDeactivation_ID"="7bc221cf-96a5-4dbc-9fd1-f3152784d03a"
"HotKey_TogglePreventWindowDeactivation_TitleBarImage"=""
"HotKey_TogglePreventWindowDeactivation_TitleBarSort"="1000"
"HotKey_TogglePreventWindowDeactivation_ShowInJumpList"="0"
"HotKey_RestoreWindow"=""
"HotKey_RestoreWindow_ID"="7b2e5c36-9193-4140-a910-7e7b21617059"
"HotKey_RestoreWindow_TitleBarImage"=""
"HotKey_RestoreWindow_TitleBarSort"="1000"
"HotKey_RestoreWindow_ShowInJumpList"="0"
"HotKey_WindowPositionsLoad"=""
"HotKey_WindowPositionsLoad_ID"="55bd3292-6cf9-4179-8167-c965bbf1c8e8"
"HotKey_WindowPositionsLoad_TitleBarImage"=""
"HotKey_WindowPositionsLoad_TitleBarSort"="1000"
"HotKey_WindowPositionsLoad_ShowInJumpList"="0"
"HotKey_WindowRollupIcon"=""
"HotKey_WindowRollupIcon_ID"="8178f50e-1bb6-4588-a372-5cae3e1d1840"
"HotKey_WindowRollupIcon_TitleBarImage"=""
"HotKey_WindowRollupIcon_TitleBarSort"="1000"
"HotKey_WindowRollupIcon_ShowInJumpList"="0"
"HotKey_WindowRollupTitleBar"=""
"HotKey_WindowRollupTitleBar_ID"="5eb996c6-219c-43ec-8a29-9049e3b856f3"
"HotKey_WindowRollupTitleBar_TitleBarImage"=""
"HotKey_WindowRollupTitleBar_TitleBarSort"="1000"
"HotKey_WindowRollupTitleBar_ShowInJumpList"="0"
"HotKey_WindowPositionsSave"=""
"HotKey_WindowPositionsSave_ID"="c46af383-5680-45b6-ac5f-8db14e8cfb8b"
"HotKey_WindowPositionsSave_TitleBarImage"=""
"HotKey_WindowPositionsSave_TitleBarSort"="1000"
"HotKey_WindowPositionsSave_ShowInJumpList"="0"
"HotKey_SendWindowToBack"=""
"HotKey_SendWindowToBack_ID"="4533c80c-8ba6-4eb1-aa4a-685901253a74"
"HotKey_SendWindowToBack_TitleBarImage"=""
"HotKey_SendWindowToBack_TitleBarSort"="1000"
"HotKey_SendWindowToBack_ShowInJumpList"="0"
"HotKey_AudioPlaybackCOMNext"=""
"HotKey_AudioPlaybackCOMNext_ID"="c3a73c24-0012-4719-8460-2dbde891c904"
"HotKey_AudioPlaybackCOMNext_TitleBarImage"=""
"HotKey_AudioPlaybackCOMNext_TitleBarSort"="1000"
"HotKey_AudioPlaybackCOMNext_ShowInJumpList"="0"
"HotKey_AudioPlaybackMMNext"=""
"HotKey_AudioPlaybackMMNext_ID"="ac98b22c-d863-4db5-b685-4f4aff533e54"
"HotKey_AudioPlaybackMMNext_TitleBarImage"=""
"HotKey_AudioPlaybackMMNext_TitleBarSort"="1000"
"HotKey_AudioPlaybackMMNext_ShowInJumpList"="0"
"HotKey_AudioRecordingCOMNext"=""
"HotKey_AudioRecordingCOMNext_ID"="b3b310d1-004b-4e97-b02a-ee4887806e8b"
"HotKey_AudioRecordingCOMNext_TitleBarImage"=""
"HotKey_AudioRecordingCOMNext_TitleBarSort"="1000"
"HotKey_AudioRecordingCOMNext_ShowInJumpList"="0"
"HotKey_AudioRecordingMMNext"=""
"HotKey_AudioRecordingMMNext_ID"="05932277-63f0-4859-acf3-024c0a3d37d1"
"HotKey_AudioRecordingMMNext_TitleBarImage"=""
"HotKey_AudioRecordingMMNext_TitleBarSort"="1000"
"HotKey_AudioRecordingMMNext_ShowInJumpList"="0"
"HotKey_AudioPlaybackCOMPrevious"=""
"HotKey_AudioPlaybackCOMPrevious_ID"="5d4cdf79-0f70-4dca-827b-cab423da0d63"
"HotKey_AudioPlaybackCOMPrevious_TitleBarImage"=""
"HotKey_AudioPlaybackCOMPrevious_TitleBarSort"="1000"
"HotKey_AudioPlaybackCOMPrevious_ShowInJumpList"="0"
"HotKey_AudioPlaybackMMPrevious"=""
"HotKey_AudioPlaybackMMPrevious_ID"="cbea487e-246e-42da-9f19-9ad1771cf934"
"HotKey_AudioPlaybackMMPrevious_TitleBarImage"=""
"HotKey_AudioPlaybackMMPrevious_TitleBarSort"="1000"
"HotKey_AudioPlaybackMMPrevious_ShowInJumpList"="0"
"HotKey_AudioRecordingCOMPrevious"=""
"HotKey_AudioRecordingCOMPrevious_ID"="dea21be3-d16b-41ba-9730-beea74064c84"
"HotKey_AudioRecordingCOMPrevious_TitleBarImage"=""
"HotKey_AudioRecordingCOMPrevious_TitleBarSort"="1000"
"HotKey_AudioRecordingCOMPrevious_ShowInJumpList"="0"
"HotKey_AudioRecordingMMPrevious"=""
"HotKey_AudioRecordingMMPrevious_ID"="f37a8ded-a3ec-4c79-955c-1c02d9901a6b"
"HotKey_AudioRecordingMMPrevious_TitleBarImage"=""
"HotKey_AudioRecordingMMPrevious_TitleBarSort"="1000"
"HotKey_AudioRecordingMMPrevious_ShowInJumpList"="0"
"HotKey_SizeBottom"=""
"HotKey_SizeBottom_ID"="2801c7b5-d1cc-4e44-a42c-47497ce11673"
"HotKey_SizeBottom_TitleBarImage"=""
"HotKey_SizeBottom_TitleBarSort"="1000"
"HotKey_SizeBottom_ShowInJumpList"="0"
"HotKey_SizeLeft"=""
"HotKey_SizeLeft_ID"="56815ac7-d61f-4241-9444-a88d61077a4b"
"HotKey_SizeLeft_TitleBarImage"=""
"HotKey_SizeLeft_TitleBarSort"="1000"
"HotKey_SizeLeft_ShowInJumpList"="0"
"HotKey_SizeRight"=""
"HotKey_SizeRight_ID"="976a97c8-452e-4e4b-8e42-9f3a3c9cd024"
"HotKey_SizeRight_TitleBarImage"=""
"HotKey_SizeRight_TitleBarSort"="1000"
"HotKey_SizeRight_ShowInJumpList"="0"
"HotKey_SizeTop"=""
"HotKey_SizeTop_ID"="4bde521f-873a-4b81-82b3-2f9698933c84"
"HotKey_SizeTop_TitleBarImage"=""
"HotKey_SizeTop_TitleBarSort"="1000"
"HotKey_SizeTop_ShowInJumpList"="0"
"HotKey_SizeSpan"=""
"HotKey_SizeSpan_ID"="64732c1a-25b8-4d3e-bad7-9cc35dc9da83"
"HotKey_SizeSpan_TitleBarImage"=""
"HotKey_SizeSpan_TitleBarSort"="1000"
"HotKey_SizeSpan_ShowInJumpList"="1"
"HotKey_StartScreenSaver"=""
"HotKey_StartScreenSaver_ID"="b00b142f-7ea2-439f-9478-920a5530e9c1"
"HotKey_StartScreenSaver_TitleBarImage"=""
"HotKey_StartScreenSaver_TitleBarSort"="1000"
"HotKey_StartScreenSaver_ShowInJumpList"="0"
"HotKey_ToggleHotKeys"=""
"HotKey_ToggleHotKeys_ID"="cd352c37-b6b4-4ae6-b9d2-98832f58b91a"
"HotKey_ToggleHotKeys_TitleBarImage"=""
"HotKey_ToggleHotKeys_TitleBarSort"="1000"
"HotKey_ToggleHotKeys_ShowInJumpList"="0"
"HotKey_ToggleTaskbars"=""
"HotKey_ToggleTaskbars_ID"="9c27944e-06b3-4585-b9a4-3dbc6f173060"
"HotKey_ToggleTaskbars_TitleBarImage"=""
"HotKey_ToggleTaskbars_TitleBarSort"="1000"
"HotKey_ToggleTaskbars_ShowInJumpList"="0"
"HotKey_ToggleFreezeWallpaperImages"=""
"HotKey_ToggleFreezeWallpaperImages_ID"="8bab9528-6313-4fb8-ba5e-f060ec13bb6c"
"HotKey_ToggleFreezeWallpaperImages_TitleBarImage"=""
"HotKey_ToggleFreezeWallpaperImages_TitleBarSort"="1000"
"HotKey_ToggleFreezeWallpaperImages_ShowInJumpList"="0"
"HotKey_ToggleTitleBarButtons"=""
"HotKey_ToggleTitleBarButtons_ID"="ed18ecf4-9918-40fc-a106-c3b1f8e543bf"
"HotKey_ToggleTitleBarButtons_TitleBarImage"=""
"HotKey_ToggleTitleBarButtons_TitleBarSort"="1000"
"HotKey_ToggleTitleBarButtons_ShowInJumpList"="0"
"HotKey_ToggleWindowAlwaysOnTop"=""
"HotKey_ToggleWindowAlwaysOnTop_ID"="9e6b7217-8e3b-4da3-b949-edd9d893a9c1"
"HotKey_ToggleWindowAlwaysOnTop_TitleBarImage"=""
"HotKey_ToggleWindowAlwaysOnTop_TitleBarSort"="1000"
"HotKey_ToggleWindowAlwaysOnTop_ShowInJumpList"="0"
"HotKey_ToggleWindowLocation"=""
"HotKey_ToggleWindowLocation_ID"="016eabf3-154e-46d6-a671-3441511bd0f4"
"HotKey_ToggleWindowLocation_TitleBarImage"=""
"HotKey_ToggleWindowLocation_TitleBarSort"="1000"
"HotKey_ToggleWindowLocation_ShowInJumpList"="0"
"HotKey_ToggleWindowSnapping"=""
"HotKey_ToggleWindowSnapping_ID"="def45f5a-4cbc-4302-9b1e-afbf5b4a67b0"
"HotKey_ToggleWindowSnapping_TitleBarImage"=""
"HotKey_ToggleWindowSnapping_TitleBarSort"="1000"
"HotKey_ToggleWindowSnapping_ShowInJumpList"="0"
"HotKey_ToggleWindowTransparency"=""
"HotKey_ToggleWindowTransparency_ID"="fd88dd05-7678-47f6-83bf-bb5f98ccc6a7"
"HotKey_ToggleWindowTransparency_TitleBarImage"=""
"HotKey_ToggleWindowTransparency_TitleBarSort"="1000"
"HotKey_ToggleWindowTransparency_ShowInJumpList"="0"
"HotKey_WallpaperProfile_5def02f5-94cf-4de3-9157-a2f95a1ad83a"=""
"HotKey_WallpaperProfile_5def02f5-94cf-4de3-9157-a2f95a1ad83a_ID"="5def02f5-94cf-4de3-9157-a2f95a1ad83a"
"HotKey_WallpaperProfile_5def02f5-94cf-4de3-9157-a2f95a1ad83a_TitleBarImage"=""
"HotKey_WallpaperProfile_5def02f5-94cf-4de3-9157-a2f95a1ad83a_TitleBarSort"="1000"
"HotKey_WallpaperProfile_5def02f5-94cf-4de3-9157-a2f95a1ad83a_ShowInJumpList"="0"
"HotKey_MirrorMonitor_NoBorder"=""
"HotKey_MirrorMonitor_NoBorder_ID"="3f828f43-2141-4645-bd1a-cdeb6d439153"
"HotKey_MirrorMonitor_NoBorder_TitleBarImage"=""
"HotKey_MirrorMonitor_NoBorder_TitleBarSort"="1000"
"HotKey_MirrorMonitor_NoBorder_ShowInJumpList"="0"
"HotKey_MirrorMonitorWithSplits_NoBorder"=""
"HotKey_MirrorMonitorWithSplits_NoBorder_ID"="c66d5709-a49d-48a1-bbe0-4fcb8ca8ea13"
"HotKey_MirrorMonitorWithSplits_NoBorder_TitleBarImage"=""
"HotKey_MirrorMonitorWithSplits_NoBorder_TitleBarSort"="1000"
"HotKey_MirrorMonitorWithSplits_NoBorder_ShowInJumpList"="0"
"HotKey_MirrorMonitorWithSplits"=""
"HotKey_MirrorMonitorWithSplits_ID"="d9b33364-8ce7-4d28-89b7-960baa565926"
"HotKey_MirrorMonitorWithSplits_TitleBarImage"=""
"HotKey_MirrorMonitorWithSplits_TitleBarSort"="1000"
"HotKey_MirrorMonitorWithSplits_ShowInJumpList"="0"
"HotKey_MirrorSelectedArea_NoBorder"=""
"HotKey_MirrorSelectedArea_NoBorder_ID"="8dce4f4a-f3f6-4425-8f1d-22072a738621"
"HotKey_MirrorSelectedArea_NoBorder_TitleBarImage"=""
"HotKey_MirrorSelectedArea_NoBorder_TitleBarSort"="1000"
"HotKey_MirrorSelectedArea_NoBorder_ShowInJumpList"="0"
"HotKey_MirrorSelectedArea"=""
"HotKey_MirrorSelectedArea_ID"="3dda16b8-5317-4237-85e7-df9f4727abbc"
"HotKey_MirrorSelectedArea_TitleBarImage"=""
"HotKey_MirrorSelectedArea_TitleBarSort"="1000"
"HotKey_MirrorSelectedArea_ShowInJumpList"="0"
"HotKey_MirrorWindow_NoBorder"=""
"HotKey_MirrorWindow_NoBorder_ID"="5d4ee5ea-5f6b-4734-b879-8ec3c931971b"
"HotKey_MirrorWindow_NoBorder_TitleBarImage"=""
"HotKey_MirrorWindow_NoBorder_TitleBarSort"="1000"
"HotKey_MirrorWindow_NoBorder_ShowInJumpList"="0"
"HotKey_MouseCursorCentrePrimaryMonitor"=""
"HotKey_MouseCursorCentrePrimaryMonitor_ID"="01d88e07-0a01-4f1d-a45a-a9bca0083801"
"HotKey_MouseCursorCentrePrimaryMonitor_TitleBarImage"=""
"HotKey_MouseCursorCentrePrimaryMonitor_TitleBarSort"="1000"
"HotKey_MouseCursorCentrePrimaryMonitor_ShowInJumpList"="0"
"HotKey_WallpaperAnimationsToggle"=""
"HotKey_WallpaperAnimationsToggle_ID"="89f69765-aa8c-4865-8b62-9b9048940e01"
"HotKey_WallpaperAnimationsToggle_TitleBarImage"=""
"HotKey_WallpaperAnimationsToggle_TitleBarSort"="1000"
"HotKey_WallpaperAnimationsToggle_ShowInJumpList"="0"
"HotKey_ReloadCurrentWallpaperProfile"=""
"HotKey_ReloadCurrentWallpaperProfile_ID"="52e0514f-e5de-4d94-9220-8d16b42f1c2c"
"HotKey_ReloadCurrentWallpaperProfile_TitleBarImage"=""
"HotKey_ReloadCurrentWallpaperProfile_TitleBarSort"="1000"
"HotKey_ReloadCurrentWallpaperProfile_ShowInJumpList"="0"
"HotKey_WindowPositionsLoadIgnoreMinimizedWindows"=""
"HotKey_WindowPositionsLoadIgnoreMinimizedWindows_ID"="12f92cbe-abac-46b2-8e56-f1754ad7499d"
"HotKey_WindowPositionsLoadIgnoreMinimizedWindows_TitleBarImage"=""
"HotKey_WindowPositionsLoadIgnoreMinimizedWindows_TitleBarSort"="1000"
"HotKey_WindowPositionsLoadIgnoreMinimizedWindows_ShowInJumpList"="0"
"HotKey_SizeSpanForce"=""
"HotKey_SizeSpanForce_ID"="689bfcb2-8e28-47c9-91a2-857e8a5d5b7e"
"HotKey_SizeSpanForce_TitleBarImage"=""
"HotKey_SizeSpanForce_TitleBarSort"="1000"
"HotKey_SizeSpanForce_ShowInJumpList"="1"
"HotKey_WallpaperFeatureToggle"=""
"HotKey_WallpaperFeatureToggle_ID"="90965a15-a9da-435b-b0cc-db26c75809d4"
"HotKey_WallpaperFeatureToggle_TitleBarImage"=""
"HotKey_WallpaperFeatureToggle_TitleBarSort"="1000"
"HotKey_WallpaperFeatureToggle_ShowInJumpList"="0"
"HotKey_ToggleMonitorFading"=""
"HotKey_ToggleMonitorFading_ID"="9325bf53-dd17-4bbf-8c3c-2486767aafc0"
"HotKey_ToggleMonitorFading_TitleBarImage"=""
"HotKey_ToggleMonitorFading_TitleBarSort"="1000"
"HotKey_ToggleMonitorFading_ShowInJumpList"="0"
"HotKey_WallpaperWebsiteInputToggle"=""
"HotKey_WallpaperWebsiteInputToggle_ID"="00c83816-5914-4c30-b733-54f8e1eff86b"
"HotKey_WallpaperWebsiteInputToggle_TitleBarImage"=""
"HotKey_WallpaperWebsiteInputToggle_TitleBarSort"="1000"
"HotKey_WallpaperWebsiteInputToggle_ShowInJumpList"="0"
"HotKey_Custom1_ID"="786ffd35-4248-45b2-8d7b-982b6f25ca5d"
"HotKey_Custom1_Name"="Open Chrome"
"HotKey_Custom1_Keys"=""
"HotKey_Custom1_TitleBarImage"=""
"HotKey_Custom1_TitleBarSort"="1000"
"HotKey_Custom1_ShowInJumpList"="0"
"HotKey_Custom1_ScreenMoveType"="0"
"HotKey_Custom1_MoveMonitorID"="1"
"HotKey_Custom1_MoveType"="0"
"HotKey_Custom1_SizeTypeH"="0"
"HotKey_Custom1_SizeTypeHValue"="0"
"HotKey_Custom1_SizeTypeV"="0"
"HotKey_Custom1_SizeTypeVValue"="0"
"HotKey_Custom1_MonitorProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom1_WallpaperProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom1_DesktopIconsProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom1_WindowPositionProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom1_WindowTransparencyPercent"="100"
"HotKey_Custom1_MoveLocationX"="0"
"HotKey_Custom1_MoveLocationY"="0"
"HotKey_Custom1_LaunchApp"="C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe"
"HotKey_Custom1_LaunchAppParams"=""
"HotKey_Custom1_ExclusiveAction"="118"
"HotKey_Custom2_ID"="e4a17675-2cca-495d-a9b0-b32732fbe57e"
"HotKey_Custom2_Name"="Open Code"
"HotKey_Custom2_Keys"=""
"HotKey_Custom2_TitleBarImage"=""
"HotKey_Custom2_TitleBarSort"="1000"
"HotKey_Custom2_ShowInJumpList"="0"
"HotKey_Custom2_ScreenMoveType"="0"
"HotKey_Custom2_MoveMonitorID"="1"
"HotKey_Custom2_MoveType"="0"
"HotKey_Custom2_SizeTypeH"="0"
"HotKey_Custom2_SizeTypeHValue"="0"
"HotKey_Custom2_SizeTypeV"="0"
"HotKey_Custom2_SizeTypeVValue"="0"
"HotKey_Custom2_MonitorProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom2_WallpaperProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom2_DesktopIconsProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom2_WindowPositionProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom2_WindowTransparencyPercent"="100"
"HotKey_Custom2_MoveLocationX"="0"
"HotKey_Custom2_MoveLocationY"="0"
"HotKey_Custom2_LaunchApp"="C:\\Users\\{{ custom_user }}\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe"
"HotKey_Custom2_LaunchAppParams"=""
"HotKey_Custom2_ExclusiveAction"="118"
"HotKey_Custom3_ID"="cd2ef6b5-d55a-44a6-bbe9-89c70d7e7839"
"HotKey_Custom3_Name"="Open Explorer"
"HotKey_Custom3_Keys"=""
"HotKey_Custom3_TitleBarImage"=""
"HotKey_Custom3_TitleBarSort"="1000"
"HotKey_Custom3_ShowInJumpList"="0"
"HotKey_Custom3_ScreenMoveType"="0"
"HotKey_Custom3_MoveMonitorID"="1"
"HotKey_Custom3_MoveType"="0"
"HotKey_Custom3_SizeTypeH"="0"
"HotKey_Custom3_SizeTypeHValue"="0"
"HotKey_Custom3_SizeTypeV"="0"
"HotKey_Custom3_SizeTypeVValue"="0"
"HotKey_Custom3_MonitorProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom3_WallpaperProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom3_DesktopIconsProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom3_WindowPositionProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom3_WindowTransparencyPercent"="100"
"HotKey_Custom3_MoveLocationX"="0"
"HotKey_Custom3_MoveLocationY"="0"
"HotKey_Custom3_LaunchApp"="C:\\Windows\\explorer.exe"
"HotKey_Custom3_LaunchAppParams"=""
"HotKey_Custom3_ExclusiveAction"="118"
"HotKey_Custom4_ID"="6cf8edd0-3e22-458f-9b4c-1d4d8116a90b"
"HotKey_Custom4_Name"="Open GitBash"
"HotKey_Custom4_Keys"=""
"HotKey_Custom4_TitleBarImage"=""
"HotKey_Custom4_TitleBarSort"="1000"
"HotKey_Custom4_ShowInJumpList"="0"
"HotKey_Custom4_ScreenMoveType"="0"
"HotKey_Custom4_MoveMonitorID"="1"
"HotKey_Custom4_MoveType"="0"
"HotKey_Custom4_SizeTypeH"="0"
"HotKey_Custom4_SizeTypeHValue"="0"
"HotKey_Custom4_SizeTypeV"="0"
"HotKey_Custom4_SizeTypeVValue"="0"
"HotKey_Custom4_MonitorProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom4_WallpaperProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom4_DesktopIconsProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom4_WindowPositionProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom4_WindowTransparencyPercent"="100"
"HotKey_Custom4_MoveLocationX"="0"
"HotKey_Custom4_MoveLocationY"="0"
"HotKey_Custom4_LaunchApp"="C:\\Program Files\\Git\\git-bash.exe"
"HotKey_Custom4_LaunchAppParams"=""
"HotKey_Custom4_ExclusiveAction"="118"
"HotKey_Custom5_ID"="b9ead3b1-6241-4a85-92bc-dbb4bd879168"
"HotKey_Custom5_Name"="Open Telegram"
"HotKey_Custom5_Keys"=""
"HotKey_Custom5_TitleBarImage"=""
"HotKey_Custom5_TitleBarSort"="1000"
"HotKey_Custom5_ShowInJumpList"="0"
"HotKey_Custom5_ScreenMoveType"="0"
"HotKey_Custom5_MoveMonitorID"="1"
"HotKey_Custom5_MoveType"="0"
"HotKey_Custom5_SizeTypeH"="0"
"HotKey_Custom5_SizeTypeHValue"="0"
"HotKey_Custom5_SizeTypeV"="0"
"HotKey_Custom5_SizeTypeVValue"="0"
"HotKey_Custom5_MonitorProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom5_WallpaperProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom5_DesktopIconsProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom5_WindowPositionProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom5_WindowTransparencyPercent"="100"
"HotKey_Custom5_MoveLocationX"="0"
"HotKey_Custom5_MoveLocationY"="0"
"HotKey_Custom5_LaunchApp"="C:\\Users\\{{ custom_user }}\\AppData\\Roaming\\Telegram Desktop\\Telegram.exe"
"HotKey_Custom5_LaunchAppParams"=""
"HotKey_Custom5_ExclusiveAction"="118"
"HotKey_Custom6_ID"="f2f00d83-f9ac-46db-857c-8103843951a7"
"HotKey_Custom6_Name"="Open Terminal"
"HotKey_Custom6_Keys"=""
"HotKey_Custom6_TitleBarImage"=""
"HotKey_Custom6_TitleBarSort"="1000"
"HotKey_Custom6_ShowInJumpList"="0"
"HotKey_Custom6_ScreenMoveType"="0"
"HotKey_Custom6_MoveMonitorID"="1"
"HotKey_Custom6_MoveType"="0"
"HotKey_Custom6_SizeTypeH"="0"
"HotKey_Custom6_SizeTypeHValue"="0"
"HotKey_Custom6_SizeTypeV"="0"
"HotKey_Custom6_SizeTypeVValue"="0"
"HotKey_Custom6_MonitorProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom6_WallpaperProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom6_DesktopIconsProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom6_WindowPositionProfileID"="00000000-0000-0000-0000-000000000000"
"HotKey_Custom6_WindowTransparencyPercent"="100"
"HotKey_Custom6_MoveLocationX"="0"
"HotKey_Custom6_MoveLocationY"="0"
"HotKey_Custom6_LaunchApp"="C:\\Users\\{{ custom_user }}\\AppData\\Local\\Microsoft\\WindowsApps\\wt.exe"
"HotKey_Custom6_LaunchAppParams"=""
"HotKey_Custom6_ExclusiveAction"="118"
"HotKey_WindowPositionProfile_278d29fd-eb2f-464a-9d2d-2b6300dd557f"=""
"HotKey_WindowPositionProfile_278d29fd-eb2f-464a-9d2d-2b6300dd557f_ID"="278d29fd-eb2f-464a-9d2d-2b6300dd557f"
"HotKey_WindowPositionProfile_278d29fd-eb2f-464a-9d2d-2b6300dd557f_TitleBarImage"=""
"HotKey_WindowPositionProfile_278d29fd-eb2f-464a-9d2d-2b6300dd557f_TitleBarSort"="1000"
"HotKey_WindowPositionProfile_278d29fd-eb2f-464a-9d2d-2b6300dd557f_ShowInJumpList"="0"
"HotKey_MonitorProfile_8d9c2b8e-1d77-45f0-aea7-a12965e0fc17"="shift;win;85"
"HotKey_MonitorProfile_8d9c2b8e-1d77-45f0-aea7-a12965e0fc17_ID"="8d9c2b8e-1d77-45f0-aea7-a12965e0fc17"
"HotKey_MonitorProfile_8d9c2b8e-1d77-45f0-aea7-a12965e0fc17_TitleBarImage"=""
"HotKey_MonitorProfile_8d9c2b8e-1d77-45f0-aea7-a12965e0fc17_TitleBarSort"="1000"
"HotKey_MonitorProfile_8d9c2b8e-1d77-45f0-aea7-a12965e0fc17_ShowInJumpList"="0"
"HotKey_WallpaperProfile_94d459f0-9977-4597-8be8-094d9ccca24b"=""
"HotKey_WallpaperProfile_94d459f0-9977-4597-8be8-094d9ccca24b_ID"="94d459f0-9977-4597-8be8-094d9ccca24b"
"HotKey_WallpaperProfile_94d459f0-9977-4597-8be8-094d9ccca24b_TitleBarImage"=""
"HotKey_WallpaperProfile_94d459f0-9977-4597-8be8-094d9ccca24b_TitleBarSort"="1000"
"HotKey_WallpaperProfile_94d459f0-9977-4597-8be8-094d9ccca24b_ShowInJumpList"="0"
"HotKey_WallpaperProfile_c198f289-64a0-4c78-b624-520700347efe"=""
"HotKey_WallpaperProfile_c198f289-64a0-4c78-b624-520700347efe_ID"="c198f289-64a0-4c78-b624-520700347efe"
"HotKey_WallpaperProfile_c198f289-64a0-4c78-b624-520700347efe_TitleBarImage"=""
"HotKey_WallpaperProfile_c198f289-64a0-4c78-b624-520700347efe_TitleBarSort"="1000"
"HotKey_WallpaperProfile_c198f289-64a0-4c78-b624-520700347efe_ShowInJumpList"="0"
"HotKey_WallpaperProfile_08c8bc64-45de-4b06-8d18-ebce01955538"=""
"HotKey_WallpaperProfile_08c8bc64-45de-4b06-8d18-ebce01955538_ID"="08c8bc64-45de-4b06-8d18-ebce01955538"
"HotKey_WallpaperProfile_08c8bc64-45de-4b06-8d18-ebce01955538_TitleBarImage"=""
"HotKey_WallpaperProfile_08c8bc64-45de-4b06-8d18-ebce01955538_TitleBarSort"="1000"
"HotKey_WallpaperProfile_08c8bc64-45de-4b06-8d18-ebce01955538_ShowInJumpList"="0"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\MonitorProfiles]

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\ScreenSavers]
"ScreenSaversEnabled"="0"
"ScreenSaversSpan"="0"
"ScreenSaver_1_File"="-- "
"ScreenSaver_1_UsePreview"="1"
"ScreenSaver_2_File"=""
"ScreenSaver_2_UsePreview"="1"
"ScreenSaver_0_File"="-- "
"ScreenSaver_0_UsePreview"="1"
"ScreenSaver_3_File"=""
"ScreenSaver_3_UsePreview"="1"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Session]
"MainWindowHandle"="196698"
"AppHookHandle32"="460256"
"AppHookHandle64"="722438"
"IsProVersion"="1"
"TitleBarManagerDONOTUSEINMAIN"="66206"
"TaskbarManagerDONOTUSEINMAIN"="66214"
"MonitorAttached0_Active"="1"
"MonitorAttached0_Name"="1"
"MonitorAttached0_Left"="0"
"MonitorAttached0_Right"="2559"
"MonitorAttached0_Top"="0"
"MonitorAttached0_Bottom"="1439"
"MonitorAttached0_Width"="2560"
"MonitorAttached0_Height"="1440"
"MonitorsHaveSplits"="0"
"TaskbarStartMenuLock0_TaskbarID"="2"
"TaskbarStartMenuLock0_ScreenL"="2560"
"TaskbarStartMenuLock0_ScreenR"="4000"
"TaskbarStartMenuLock0_ScreenT"="-658"
"TaskbarStartMenuLock0_ScreenB"="1902"
"TaskbarStartMenuLock0_LockL"="2560"
"TaskbarStartMenuLock0_LockR"="987654"
"TaskbarStartMenuLock0_LockT"="987654"
"TaskbarStartMenuLock0_LockB"="1864"
"TaskbarStartMenuLock0_MoveDelta"="0"
"AppHookHandleMain"="1443516"
"MonitorAttachedSplits0_Active"="1"
"MonitorAttachedSplits0_IsSplit"="0"
"MonitorAttachedSplits0_Name"="1"
"MonitorAttachedSplits0_OffX"="0"
"MonitorAttachedSplits0_OffY"="0"
"MonitorAttachedSplits0_Left"="0"
"MonitorAttachedSplits0_Right"="2559"
"MonitorAttachedSplits0_Width"="2560"
"MonitorAttachedSplits0_Top"="0"
"MonitorAttachedSplits0_Bottom"="1389"
"MonitorAttachedSplits0_Height"="1390"
"MonitorAttachedSplits0_ScaleX"="1.25"
"MonitorAttachedSplits0_ScaleY"="1.25"
"MonitorAttachedSplits0_ScalePrimaryX"="1"
"MonitorAttachedSplits0_ScalePrimaryY"="1"
"MonitorAttachedSplits0_LeftBeforeSplit"="0"
"MonitorAttachedSplits0_TopBeforeSplit"="0"
"MonitorAttachedSplits0_GetMinMaxX"="0"
"MonitorAttachedSplits0_GetMinMaxY"="0"
"MonitorAttachedSplits0_GetMinMaxW"="2560"
"MonitorAttachedSplits0_GetMinMaxH"="1440"
"MonitorAttachedSplits1_GetMinMaxX"="0"
"MonitorAttachedSplits1_GetMinMaxY"="0"
"MonitorAttachedSplits1_GetMinMaxW"="2560"
"MonitorAttachedSplits1_GetMinMaxH"="1440"
"StartMenuLastOpenTime"="205529369"
"MonitorAttachedSplits2_GetMinMaxX"="0"
"MonitorAttachedSplits2_GetMinMaxY"="0"
"MonitorAttachedSplits2_GetMinMaxW"="2560"
"MonitorAttachedSplits2_GetMinMaxH"="1440"
"TaskbarStartMenuLock1_TaskbarID"="3"
"TaskbarStartMenuLock1_ScreenL"="2560"
"TaskbarStartMenuLock1_ScreenR"="4000"
"TaskbarStartMenuLock1_ScreenT"="-883"
"TaskbarStartMenuLock1_ScreenB"="1677"
"TaskbarStartMenuLock1_LockL"="2560"
"TaskbarStartMenuLock1_LockR"="987654"
"TaskbarStartMenuLock1_LockT"="987654"
"TaskbarStartMenuLock1_LockB"="1639"
"TaskbarStartMenuLock1_MoveDelta"="0"
"MonitorAttachedSplits3_GetMinMaxX"="0"
"MonitorAttachedSplits3_GetMinMaxY"="0"
"MonitorAttachedSplits3_GetMinMaxW"="2560"
"MonitorAttachedSplits3_GetMinMaxH"="1440"
"TaskbarStartMenuLock2_TaskbarID"="4"
"TaskbarStartMenuLock2_ScreenL"="2560"
"TaskbarStartMenuLock2_ScreenR"="4000"
"TaskbarStartMenuLock2_ScreenT"="-865"
"TaskbarStartMenuLock2_ScreenB"="1695"
"TaskbarStartMenuLock2_LockL"="2560"
"TaskbarStartMenuLock2_LockR"="987654"
"TaskbarStartMenuLock2_LockT"="987654"
"TaskbarStartMenuLock2_LockB"="1657"
"TaskbarStartMenuLock2_MoveDelta"="0"
"MonitorAttached2_Active"="1"
"MonitorAttached2_Name"="3"
"MonitorAttached2_Left"="2560"
"MonitorAttached2_Right"="3999"
"MonitorAttached2_Top"="-883"
"MonitorAttached2_Bottom"="1676"
"MonitorAttached2_Width"="1440"
"MonitorAttached2_Height"="2560"
"MonitorAttachedSplits2_Active"="1"
"MonitorAttachedSplits2_IsSplit"="0"
"MonitorAttachedSplits2_Name"="3"
"MonitorAttachedSplits2_OffX"="0"
"MonitorAttachedSplits2_OffY"="0"
"MonitorAttachedSplits2_Left"="2560"
"MonitorAttachedSplits2_Right"="3999"
"MonitorAttachedSplits2_Width"="1440"
"MonitorAttachedSplits2_Top"="-883"
"MonitorAttachedSplits2_Bottom"="1638"
"MonitorAttachedSplits2_Height"="2521"
"MonitorAttachedSplits2_ScaleX"="1.25"
"MonitorAttachedSplits2_ScaleY"="1.25"
"MonitorAttachedSplits2_ScalePrimaryX"="1"
"MonitorAttachedSplits2_ScalePrimaryY"="1"
"MonitorAttachedSplits2_LeftBeforeSplit"="2560"
"MonitorAttachedSplits2_TopBeforeSplit"="-883"
"TaskbarStartMenuLock1_IsSet"="1"
"SettingsMainWindowHandle"="263076"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Taskbars]

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Taskbars\1]
"ShortcutAlignment"="100"
"ShortcutAlignmentCombine"="1"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Taskbars\1\ButtonOrder]
"0"="197364|"
"1"="67652|"
"2"="10880780|"
"3"="329614|"
"4"="1442884|"
"5"="1313200|"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Taskbars\2]
"ShortcutAlignment"="100"
"ShortcutAlignmentCombine"="1"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Taskbars\2\ButtonOrder]
"0"="131992|"
"1"="132520|"
"2"="132628|"
"3"="132752|"
"4"="1310848|"
"5"="3342952|"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Taskbars\3]
"ShortcutAlignment"="100"
"ShortcutAlignmentCombine"="1"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Taskbars\3\ButtonOrder]
"0"="263794|"
"1"="132520|"
"2"="395210|"
"3"="264674|"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Taskbars\4]
"ShortcutAlignment"="100"
"ShortcutAlignmentCombine"="1"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Taskbars\4\ButtonOrder]
"0"="525734|"
"1"="197812|"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Triggers]

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Wallpaper]

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Wallpaper\08c8bc64-45de-4b06-8d18-ebce01955538]
"Name"="Setup(1-monitor)"
"WallpaperSpan"="0"
"ActiveDesktop"="0"
"Wallpaper_0_CombineWithMonitorID"="0"
"Wallpaper_0_ColourR"="0"
"Wallpaper_0_ColourG"="0"
"Wallpaper_0_ColourB"="0"
"Wallpaper_0_ColourR2"="0"
"Wallpaper_0_ColourG2"="0"
"Wallpaper_0_ColourB2"="0"
"Wallpaper_0_ColourGradient"="0"
"Wallpaper_0_ColourGradientAngle"="0"
"Wallpaper_0_Sizing"="6"
"Wallpaper_0_SizingNoStretch"="0"
"Wallpaper_0_FileName"="C:\\Users\\{{ custom_user }}\\Pictures\\walls\\joker.jpg"
"Wallpaper_0_FileTitle"=""
"Wallpaper_0_FileDescription"=""
"Wallpaper_0_FileAttributionSourceURL"=""
"Wallpaper_0_FileWebID"=""
"Wallpaper_0_FileWebURL"=""
"Wallpaper_0_FileWebWeather"=""
"Wallpaper_0_LoadFromURLAddress"=""
"Wallpaper_0_ColourMode"="0"
"Wallpaper_0_LocalAlphaOrder"="0"
"Wallpaper_0_RotatePaths"=hex(7):00,00
"Wallpaper_0_RotatePathsEnabled"="0"
"Wallpaper_0_SourceIsRandom"="0"
"Wallpaper_0_RotatePathsMinutes"="60"
"Wallpaper_0_ImageScalingPercent"="100"
"Wallpaper_0_MoveH"="0"
"Wallpaper_0_MoveV"="0"
"Wallpaper_0_Rotate"="0"
"Wallpaper_0_FlipH"="0"
"Wallpaper_0_FlipV"="0"
"Wallpaper_0_BlurAmount"="0"
"Wallpaper_0_InfoEnabled"="0"
"Wallpaper_0_InfoFormat"="<wp-title>"
"Wallpaper_0_InfoPosition"="0"
"Wallpaper_0_InfoFontFamily"="Arial"
"Wallpaper_0_InfoFontSizePoints"="9"
"Wallpaper_0_InfoFontStyle"="0"
"Wallpaper_0_InfoFontColorFore"="-1"
"Wallpaper_0_InfoFontColorStroke"="-16777216"
"Wallpaper_0_InfoFontStrokeSize"="5"
"Screen_0_X"="0"
"Screen_0_Y"="0"
"Screen_0_Width"="2560"
"Screen_0_Height"="1440"
"Screen_0_Primary"="1"
"Wallpaper_0_PluginSetting_VideoWallpaper_SearchHiddenDirectoriesFiles"="1"
"Wallpaper_0_PluginSetting_VideoWallpaper_ShowAlphabetical"="1"
"Wallpaper_0_PluginSetting_VideoWallpaper_IgnoreWallpaperChangeTimer"="0"
"Wallpaper_0_PluginSetting_Flickr_SafeSearchLevel"="1"
"Wallpaper_0_PluginSetting_Reddit_AllowNSFW"="0"
"Wallpaper_0_PluginSetting_Reddit_SearchMode"="0"
"Wallpaper_0_PluginSetting_Tumblr_Blog"="wallpaperblog.tumblr.com"
"Wallpaper_0_PluginSetting_Tumblr_SearchMode"="0"
"Wallpaper_0_PluginSetting_Unsplash_PhotoSearchMode"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_Sorting"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_Width"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_Height"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_SearchMode"="1"
"Wallpaper_0_PluginSetting_DigitalBlasphemy_SearchWidth"="0"
"Wallpaper_0_PluginSetting_DigitalBlasphemy_SearchHeight"="0"
"Wallpaper_0_PluginSetting_Pinterest_SearchMode"="0"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Wallpaper\94d459f0-9977-4597-8be8-094d9ccca24b]
"Name"="Setup(4-monitors)"
"WallpaperSpan"="0"
"ActiveDesktop"="0"
"Wallpaper_0_CombineWithMonitorID"="0"
"Wallpaper_0_ColourR"="0"
"Wallpaper_0_ColourG"="0"
"Wallpaper_0_ColourB"="0"
"Wallpaper_0_ColourR2"="0"
"Wallpaper_0_ColourG2"="0"
"Wallpaper_0_ColourB2"="0"
"Wallpaper_0_ColourGradient"="0"
"Wallpaper_0_ColourGradientAngle"="0"
"Wallpaper_0_Sizing"="6"
"Wallpaper_0_SizingNoStretch"="0"
"Wallpaper_0_FileName"="C:\\Users\\{{ custom_user }}\\Pictures\\walls\\joker.jpg"
"Wallpaper_0_FileTitle"=""
"Wallpaper_0_FileDescription"=""
"Wallpaper_0_FileAttributionSourceURL"=""
"Wallpaper_0_FileWebID"=""
"Wallpaper_0_FileWebURL"=""
"Wallpaper_0_FileWebWeather"=""
"Wallpaper_0_LoadFromURLAddress"=""
"Wallpaper_0_ColourMode"="0"
"Wallpaper_0_LocalAlphaOrder"="0"
"Wallpaper_0_RotatePaths"=hex(7):00,00
"Wallpaper_0_PluginSetting_VideoWallpaper_SearchHiddenDirectoriesFiles"="1"
"Wallpaper_0_PluginSetting_VideoWallpaper_ShowAlphabetical"="1"
"Wallpaper_0_PluginSetting_VideoWallpaper_IgnoreWallpaperChangeTimer"="0"
"Wallpaper_0_PluginSetting_Flickr_SafeSearchLevel"="1"
"Wallpaper_0_PluginSetting_Reddit_AllowNSFW"="0"
"Wallpaper_0_PluginSetting_Reddit_SearchMode"="0"
"Wallpaper_0_PluginSetting_Tumblr_Blog"="wallpaperblog.tumblr.com"
"Wallpaper_0_PluginSetting_Tumblr_SearchMode"="0"
"Wallpaper_0_PluginSetting_Unsplash_PhotoSearchMode"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_Sorting"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_Width"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_Height"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_SearchMode"="1"
"Wallpaper_0_PluginSetting_DigitalBlasphemy_SearchWidth"="0"
"Wallpaper_0_PluginSetting_DigitalBlasphemy_SearchHeight"="0"
"Wallpaper_0_PluginSetting_Pinterest_SearchMode"="0"
"Wallpaper_0_RotatePathsEnabled"="0"
"Wallpaper_0_SourceIsRandom"="0"
"Wallpaper_0_RotatePathsMinutes"="60"
"Wallpaper_0_ImageScalingPercent"="100"
"Wallpaper_0_MoveH"="0"
"Wallpaper_0_MoveV"="0"
"Wallpaper_0_Rotate"="0"
"Wallpaper_0_FlipH"="0"
"Wallpaper_0_FlipV"="0"
"Wallpaper_0_BlurAmount"="0"
"Wallpaper_0_InfoEnabled"="0"
"Wallpaper_0_InfoFormat"="<wp-title>"
"Wallpaper_0_InfoPosition"="0"
"Wallpaper_0_InfoFontFamily"="Arial"
"Wallpaper_0_InfoFontSizePoints"="9"
"Wallpaper_0_InfoFontStyle"="0"
"Wallpaper_0_InfoFontColorFore"="-1"
"Wallpaper_0_InfoFontColorStroke"="-16777216"
"Wallpaper_0_InfoFontStrokeSize"="5"
"Screen_0_X"="-2944"
"Screen_0_Y"="309"
"Screen_0_Width"="1920"
"Screen_0_Height"="1080"
"Screen_0_Primary"="0"
"Wallpaper_1_CombineWithMonitorID"="0"
"Wallpaper_1_ColourR"="0"
"Wallpaper_1_ColourG"="0"
"Wallpaper_1_ColourB"="0"
"Wallpaper_1_ColourR2"="0"
"Wallpaper_1_ColourG2"="0"
"Wallpaper_1_ColourB2"="0"
"Wallpaper_1_ColourGradient"="0"
"Wallpaper_1_ColourGradientAngle"="0"
"Wallpaper_1_Sizing"="6"
"Wallpaper_1_SizingNoStretch"="0"
"Wallpaper_1_FileName"="C:\\Users\\{{ custom_user }}\\Pictures\\walls\\black_panther.jpg"
"Wallpaper_1_FileTitle"=""
"Wallpaper_1_FileDescription"=""
"Wallpaper_1_FileAttributionSourceURL"=""
"Wallpaper_1_FileWebID"=""
"Wallpaper_1_FileWebURL"=""
"Wallpaper_1_FileWebWeather"=""
"Wallpaper_1_LoadFromURLAddress"=""
"Wallpaper_1_ColourMode"="0"
"Wallpaper_1_LocalAlphaOrder"="0"
"Wallpaper_1_RotatePaths"=hex(7):00,00
"Wallpaper_1_PluginSetting_VideoWallpaper_SearchHiddenDirectoriesFiles"="1"
"Wallpaper_1_PluginSetting_VideoWallpaper_ShowAlphabetical"="1"
"Wallpaper_1_PluginSetting_VideoWallpaper_IgnoreWallpaperChangeTimer"="0"
"Wallpaper_1_PluginSetting_Flickr_SafeSearchLevel"="1"
"Wallpaper_1_PluginSetting_Reddit_AllowNSFW"="0"
"Wallpaper_1_PluginSetting_Reddit_SearchMode"="0"
"Wallpaper_1_PluginSetting_Tumblr_Blog"="wallpaperblog.tumblr.com"
"Wallpaper_1_PluginSetting_Tumblr_SearchMode"="0"
"Wallpaper_1_PluginSetting_Unsplash_PhotoSearchMode"="0"
"Wallpaper_1_PluginSetting_WallpaperAbyss_Sorting"="0"
"Wallpaper_1_PluginSetting_WallpaperAbyss_Width"="0"
"Wallpaper_1_PluginSetting_WallpaperAbyss_Height"="0"
"Wallpaper_1_PluginSetting_WallpaperAbyss_SearchMode"="1"
"Wallpaper_1_PluginSetting_DigitalBlasphemy_SearchWidth"="0"
"Wallpaper_1_PluginSetting_DigitalBlasphemy_SearchHeight"="0"
"Wallpaper_1_PluginSetting_Pinterest_SearchMode"="0"
"Wallpaper_1_RotatePathsEnabled"="0"
"Wallpaper_1_SourceIsRandom"="0"
"Wallpaper_1_RotatePathsMinutes"="60"
"Wallpaper_1_ImageScalingPercent"="100"
"Wallpaper_1_MoveH"="0"
"Wallpaper_1_MoveV"="0"
"Wallpaper_1_Rotate"="0"
"Wallpaper_1_FlipH"="0"
"Wallpaper_1_FlipV"="0"
"Wallpaper_1_BlurAmount"="0"
"Wallpaper_1_InfoEnabled"="0"
"Wallpaper_1_InfoFormat"="<wp-title>"
"Wallpaper_1_InfoPosition"="0"
"Wallpaper_1_InfoFontFamily"="Arial"
"Wallpaper_1_InfoFontSizePoints"="9"
"Wallpaper_1_InfoFontStyle"="0"
"Wallpaper_1_InfoFontColorFore"="-1"
"Wallpaper_1_InfoFontColorStroke"="-16777216"
"Wallpaper_1_InfoFontStrokeSize"="5"
"Screen_1_X"="-1024"
"Screen_1_Y"="129"
"Screen_1_Width"="1024"
"Screen_1_Height"="1280"
"Screen_1_Primary"="0"
"Wallpaper_2_CombineWithMonitorID"="0"
"Wallpaper_2_ColourR"="0"
"Wallpaper_2_ColourG"="0"
"Wallpaper_2_ColourB"="0"
"Wallpaper_2_ColourR2"="0"
"Wallpaper_2_ColourG2"="0"
"Wallpaper_2_ColourB2"="0"
"Wallpaper_2_ColourGradient"="0"
"Wallpaper_2_ColourGradientAngle"="0"
"Wallpaper_2_Sizing"="6"
"Wallpaper_2_SizingNoStretch"="0"
"Wallpaper_2_FileName"="C:\\Users\\{{ custom_user }}\\Pictures\\walls\\joker.jpg"
"Wallpaper_2_FileTitle"=""
"Wallpaper_2_FileDescription"=""
"Wallpaper_2_FileAttributionSourceURL"=""
"Wallpaper_2_FileWebID"=""
"Wallpaper_2_FileWebURL"=""
"Wallpaper_2_FileWebWeather"=""
"Wallpaper_2_LoadFromURLAddress"=""
"Wallpaper_2_ColourMode"="0"
"Wallpaper_2_LocalAlphaOrder"="0"
"Wallpaper_2_RotatePaths"=hex(7):00,00
"Wallpaper_2_PluginSetting_VideoWallpaper_SearchHiddenDirectoriesFiles"="1"
"Wallpaper_2_PluginSetting_VideoWallpaper_ShowAlphabetical"="1"
"Wallpaper_2_PluginSetting_VideoWallpaper_IgnoreWallpaperChangeTimer"="0"
"Wallpaper_2_PluginSetting_Flickr_SafeSearchLevel"="1"
"Wallpaper_2_PluginSetting_Reddit_AllowNSFW"="0"
"Wallpaper_2_PluginSetting_Reddit_SearchMode"="0"
"Wallpaper_2_PluginSetting_Tumblr_Blog"="wallpaperblog.tumblr.com"
"Wallpaper_2_PluginSetting_Tumblr_SearchMode"="0"
"Wallpaper_2_PluginSetting_Unsplash_PhotoSearchMode"="0"
"Wallpaper_2_PluginSetting_WallpaperAbyss_Sorting"="0"
"Wallpaper_2_PluginSetting_WallpaperAbyss_Width"="0"
"Wallpaper_2_PluginSetting_WallpaperAbyss_Height"="0"
"Wallpaper_2_PluginSetting_WallpaperAbyss_SearchMode"="1"
"Wallpaper_2_PluginSetting_DigitalBlasphemy_SearchWidth"="0"
"Wallpaper_2_PluginSetting_DigitalBlasphemy_SearchHeight"="0"
"Wallpaper_2_PluginSetting_Pinterest_SearchMode"="0"
"Wallpaper_2_RotatePathsEnabled"="0"
"Wallpaper_2_SourceIsRandom"="0"
"Wallpaper_2_RotatePathsMinutes"="60"
"Wallpaper_2_ImageScalingPercent"="100"
"Wallpaper_2_MoveH"="0"
"Wallpaper_2_MoveV"="0"
"Wallpaper_2_Rotate"="0"
"Wallpaper_2_FlipH"="0"
"Wallpaper_2_FlipV"="0"
"Wallpaper_2_BlurAmount"="0"
"Wallpaper_2_InfoEnabled"="0"
"Wallpaper_2_InfoFormat"="<wp-title>"
"Wallpaper_2_InfoPosition"="0"
"Wallpaper_2_InfoFontFamily"="Arial"
"Wallpaper_2_InfoFontSizePoints"="9"
"Wallpaper_2_InfoFontStyle"="0"
"Wallpaper_2_InfoFontColorFore"="-1"
"Wallpaper_2_InfoFontColorStroke"="-16777216"
"Wallpaper_2_InfoFontStrokeSize"="5"
"Screen_2_X"="0"
"Screen_2_Y"="0"
"Screen_2_Width"="2560"
"Screen_2_Height"="1440"
"Screen_2_Primary"="1"
"Wallpaper_3_CombineWithMonitorID"="0"
"Wallpaper_3_ColourR"="0"
"Wallpaper_3_ColourG"="0"
"Wallpaper_3_ColourB"="0"
"Wallpaper_3_ColourR2"="0"
"Wallpaper_3_ColourG2"="0"
"Wallpaper_3_ColourB2"="0"
"Wallpaper_3_ColourGradient"="0"
"Wallpaper_3_ColourGradientAngle"="0"
"Wallpaper_3_Sizing"="6"
"Wallpaper_3_SizingNoStretch"="0"
"Wallpaper_3_FileName"="C:\\Users\\{{ custom_user }}\\Pictures\\walls\\city-verical.jpg"
"Wallpaper_3_FileTitle"=""
"Wallpaper_3_FileDescription"=""
"Wallpaper_3_FileAttributionSourceURL"=""
"Wallpaper_3_FileWebID"=""
"Wallpaper_3_FileWebURL"=""
"Wallpaper_3_FileWebWeather"=""
"Wallpaper_3_LoadFromURLAddress"=""
"Wallpaper_3_ColourMode"="0"
"Wallpaper_3_LocalAlphaOrder"="0"
"Wallpaper_3_RotatePaths"=hex(7):00,00
"Wallpaper_3_PluginSetting_VideoWallpaper_SearchHiddenDirectoriesFiles"="1"
"Wallpaper_3_PluginSetting_VideoWallpaper_ShowAlphabetical"="1"
"Wallpaper_3_PluginSetting_VideoWallpaper_IgnoreWallpaperChangeTimer"="0"
"Wallpaper_3_PluginSetting_Flickr_SafeSearchLevel"="1"
"Wallpaper_3_PluginSetting_Reddit_AllowNSFW"="0"
"Wallpaper_3_PluginSetting_Reddit_SearchMode"="0"
"Wallpaper_3_PluginSetting_Tumblr_Blog"="wallpaperblog.tumblr.com"
"Wallpaper_3_PluginSetting_Tumblr_SearchMode"="0"
"Wallpaper_3_PluginSetting_Unsplash_PhotoSearchMode"="0"
"Wallpaper_3_PluginSetting_WallpaperAbyss_Sorting"="0"
"Wallpaper_3_PluginSetting_WallpaperAbyss_Width"="0"
"Wallpaper_3_PluginSetting_WallpaperAbyss_Height"="0"
"Wallpaper_3_PluginSetting_WallpaperAbyss_SearchMode"="1"
"Wallpaper_3_PluginSetting_DigitalBlasphemy_SearchWidth"="0"
"Wallpaper_3_PluginSetting_DigitalBlasphemy_SearchHeight"="0"
"Wallpaper_3_PluginSetting_Pinterest_SearchMode"="0"
"Wallpaper_3_RotatePathsEnabled"="0"
"Wallpaper_3_SourceIsRandom"="0"
"Wallpaper_3_RotatePathsMinutes"="60"
"Wallpaper_3_ImageScalingPercent"="100"
"Wallpaper_3_MoveH"="0"
"Wallpaper_3_MoveV"="0"
"Wallpaper_3_Rotate"="0"
"Wallpaper_3_FlipH"="0"
"Wallpaper_3_FlipV"="0"
"Wallpaper_3_BlurAmount"="0"
"Wallpaper_3_InfoEnabled"="0"
"Wallpaper_3_InfoFormat"="<wp-title>"
"Wallpaper_3_InfoPosition"="0"
"Wallpaper_3_InfoFontFamily"="Arial"
"Wallpaper_3_InfoFontSizePoints"="9"
"Wallpaper_3_InfoFontStyle"="0"
"Wallpaper_3_InfoFontColorFore"="-1"
"Wallpaper_3_InfoFontColorStroke"="-16777216"
"Wallpaper_3_InfoFontStrokeSize"="5"
"Screen_3_X"="2560"
"Screen_3_Y"="-825"
"Screen_3_Width"="1440"
"Screen_3_Height"="2560"
"Screen_3_Primary"="0"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\Wallpaper\c198f289-64a0-4c78-b624-520700347efe]
"Name"="Setup(3-monitors)"
"WallpaperSpan"="0"
"ActiveDesktop"="0"
"Wallpaper_0_CombineWithMonitorID"="0"
"Wallpaper_0_ColourR"="0"
"Wallpaper_0_ColourG"="0"
"Wallpaper_0_ColourB"="0"
"Wallpaper_0_ColourR2"="0"
"Wallpaper_0_ColourG2"="0"
"Wallpaper_0_ColourB2"="0"
"Wallpaper_0_ColourGradient"="0"
"Wallpaper_0_ColourGradientAngle"="0"
"Wallpaper_0_Sizing"="6"
"Wallpaper_0_SizingNoStretch"="0"
"Wallpaper_0_FileName"="C:\\Users\\{{ custom_user }}\\Pictures\\walls\\sddm.jpg"
"Wallpaper_0_FileTitle"=""
"Wallpaper_0_FileDescription"=""
"Wallpaper_0_FileAttributionSourceURL"=""
"Wallpaper_0_FileWebID"=""
"Wallpaper_0_FileWebURL"=""
"Wallpaper_0_FileWebWeather"=""
"Wallpaper_0_LoadFromURLAddress"=""
"Wallpaper_0_ColourMode"="0"
"Wallpaper_0_LocalAlphaOrder"="0"
"Wallpaper_0_RotatePaths"=hex(7):00,00
"Wallpaper_0_PluginSetting_VideoWallpaper_SearchHiddenDirectoriesFiles"="1"
"Wallpaper_0_PluginSetting_VideoWallpaper_ShowAlphabetical"="1"
"Wallpaper_0_PluginSetting_VideoWallpaper_IgnoreWallpaperChangeTimer"="0"
"Wallpaper_0_PluginSetting_Flickr_SafeSearchLevel"="1"
"Wallpaper_0_PluginSetting_Reddit_AllowNSFW"="0"
"Wallpaper_0_PluginSetting_Reddit_SearchMode"="0"
"Wallpaper_0_PluginSetting_Tumblr_Blog"="wallpaperblog.tumblr.com"
"Wallpaper_0_PluginSetting_Tumblr_SearchMode"="0"
"Wallpaper_0_PluginSetting_Unsplash_PhotoSearchMode"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_Sorting"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_Width"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_Height"="0"
"Wallpaper_0_PluginSetting_WallpaperAbyss_SearchMode"="1"
"Wallpaper_0_PluginSetting_DigitalBlasphemy_SearchWidth"="0"
"Wallpaper_0_PluginSetting_DigitalBlasphemy_SearchHeight"="0"
"Wallpaper_0_PluginSetting_Pinterest_SearchMode"="0"
"Wallpaper_0_RotatePathsEnabled"="0"
"Wallpaper_0_SourceIsRandom"="0"
"Wallpaper_0_RotatePathsMinutes"="60"
"Wallpaper_0_ImageScalingPercent"="100"
"Wallpaper_0_MoveH"="0"
"Wallpaper_0_MoveV"="0"
"Wallpaper_0_Rotate"="0"
"Wallpaper_0_FlipH"="0"
"Wallpaper_0_FlipV"="0"
"Wallpaper_0_BlurAmount"="0"
"Wallpaper_0_InfoEnabled"="0"
"Wallpaper_0_InfoFormat"="<wp-title>"
"Wallpaper_0_InfoPosition"="0"
"Wallpaper_0_InfoFontFamily"="Arial"
"Wallpaper_0_InfoFontSizePoints"="9"
"Wallpaper_0_InfoFontStyle"="0"
"Wallpaper_0_InfoFontColorFore"="-1"
"Wallpaper_0_InfoFontColorStroke"="-16777216"
"Wallpaper_0_InfoFontStrokeSize"="5"
"Screen_0_X"="0"
"Screen_0_Y"="0"
"Screen_0_Width"="2560"
"Screen_0_Height"="1440"
"Screen_0_Primary"="1"
"Wallpaper_1_CombineWithMonitorID"="0"
"Wallpaper_1_ColourR"="0"
"Wallpaper_1_ColourG"="0"
"Wallpaper_1_ColourB"="0"
"Wallpaper_1_ColourR2"="0"
"Wallpaper_1_ColourG2"="0"
"Wallpaper_1_ColourB2"="0"
"Wallpaper_1_ColourGradient"="0"
"Wallpaper_1_ColourGradientAngle"="0"
"Wallpaper_1_Sizing"="6"
"Wallpaper_1_SizingNoStretch"="0"
"Wallpaper_1_FileName"="C:\\Users\\{{ custom_user }}\\Pictures\\walls\\joker.jpg"
"Wallpaper_1_FileTitle"=""
"Wallpaper_1_FileDescription"=""
"Wallpaper_1_FileAttributionSourceURL"=""
"Wallpaper_1_FileWebID"=""
"Wallpaper_1_FileWebURL"=""
"Wallpaper_1_FileWebWeather"=""
"Wallpaper_1_LoadFromURLAddress"=""
"Wallpaper_1_ColourMode"="0"
"Wallpaper_1_LocalAlphaOrder"="0"
"Wallpaper_1_RotatePaths"=hex(7):00,00
"Wallpaper_1_PluginSetting_VideoWallpaper_SearchHiddenDirectoriesFiles"="1"
"Wallpaper_1_PluginSetting_VideoWallpaper_ShowAlphabetical"="1"
"Wallpaper_1_PluginSetting_VideoWallpaper_IgnoreWallpaperChangeTimer"="0"
"Wallpaper_1_PluginSetting_Flickr_SafeSearchLevel"="1"
"Wallpaper_1_PluginSetting_Reddit_AllowNSFW"="0"
"Wallpaper_1_PluginSetting_Reddit_SearchMode"="0"
"Wallpaper_1_PluginSetting_Tumblr_Blog"="wallpaperblog.tumblr.com"
"Wallpaper_1_PluginSetting_Tumblr_SearchMode"="0"
"Wallpaper_1_PluginSetting_Unsplash_PhotoSearchMode"="0"
"Wallpaper_1_PluginSetting_WallpaperAbyss_Sorting"="0"
"Wallpaper_1_PluginSetting_WallpaperAbyss_Width"="0"
"Wallpaper_1_PluginSetting_WallpaperAbyss_Height"="0"
"Wallpaper_1_PluginSetting_WallpaperAbyss_SearchMode"="1"
"Wallpaper_1_PluginSetting_DigitalBlasphemy_SearchWidth"="0"
"Wallpaper_1_PluginSetting_DigitalBlasphemy_SearchHeight"="0"
"Wallpaper_1_PluginSetting_Pinterest_SearchMode"="0"
"Wallpaper_1_RotatePathsEnabled"="0"
"Wallpaper_1_SourceIsRandom"="0"
"Wallpaper_1_RotatePathsMinutes"="60"
"Wallpaper_1_ImageScalingPercent"="100"
"Wallpaper_1_MoveH"="0"
"Wallpaper_1_MoveV"="0"
"Wallpaper_1_Rotate"="0"
"Wallpaper_1_FlipH"="0"
"Wallpaper_1_FlipV"="0"
"Wallpaper_1_BlurAmount"="0"
"Wallpaper_1_InfoEnabled"="0"
"Wallpaper_1_InfoFormat"="<wp-title>"
"Wallpaper_1_InfoPosition"="0"
"Wallpaper_1_InfoFontFamily"="Arial"
"Wallpaper_1_InfoFontSizePoints"="9"
"Wallpaper_1_InfoFontStyle"="0"
"Wallpaper_1_InfoFontColorFore"="-1"
"Wallpaper_1_InfoFontColorStroke"="-16777216"
"Wallpaper_1_InfoFontStrokeSize"="5"
"Screen_1_X"="-1024"
"Screen_1_Y"="144"
"Screen_1_Width"="1024"
"Screen_1_Height"="1280"
"Screen_1_Primary"="0"
"Wallpaper_2_CombineWithMonitorID"="0"
"Wallpaper_2_ColourR"="0"
"Wallpaper_2_ColourG"="0"
"Wallpaper_2_ColourB"="0"
"Wallpaper_2_ColourR2"="0"
"Wallpaper_2_ColourG2"="0"
"Wallpaper_2_ColourB2"="0"
"Wallpaper_2_ColourGradient"="0"
"Wallpaper_2_ColourGradientAngle"="0"
"Wallpaper_2_Sizing"="6"
"Wallpaper_2_SizingNoStretch"="0"
"Wallpaper_2_FileName"="C:\\Users\\{{ custom_user }}\\Pictures\\walls\\city-verical.jpg"
"Wallpaper_2_FileTitle"=""
"Wallpaper_2_FileDescription"=""
"Wallpaper_2_FileAttributionSourceURL"=""
"Wallpaper_2_FileWebID"=""
"Wallpaper_2_FileWebURL"=""
"Wallpaper_2_FileWebWeather"=""
"Wallpaper_2_LoadFromURLAddress"=""
"Wallpaper_2_ColourMode"="0"
"Wallpaper_2_LocalAlphaOrder"="0"
"Wallpaper_2_RotatePaths"=hex(7):00,00
"Wallpaper_2_PluginSetting_VideoWallpaper_SearchHiddenDirectoriesFiles"="1"
"Wallpaper_2_PluginSetting_VideoWallpaper_ShowAlphabetical"="1"
"Wallpaper_2_PluginSetting_VideoWallpaper_IgnoreWallpaperChangeTimer"="0"
"Wallpaper_2_PluginSetting_Flickr_SafeSearchLevel"="1"
"Wallpaper_2_PluginSetting_Reddit_AllowNSFW"="0"
"Wallpaper_2_PluginSetting_Reddit_SearchMode"="0"
"Wallpaper_2_PluginSetting_Tumblr_Blog"="wallpaperblog.tumblr.com"
"Wallpaper_2_PluginSetting_Tumblr_SearchMode"="0"
"Wallpaper_2_PluginSetting_Unsplash_PhotoSearchMode"="0"
"Wallpaper_2_PluginSetting_WallpaperAbyss_Sorting"="0"
"Wallpaper_2_PluginSetting_WallpaperAbyss_Width"="0"
"Wallpaper_2_PluginSetting_WallpaperAbyss_Height"="0"
"Wallpaper_2_PluginSetting_WallpaperAbyss_SearchMode"="1"
"Wallpaper_2_PluginSetting_DigitalBlasphemy_SearchWidth"="0"
"Wallpaper_2_PluginSetting_DigitalBlasphemy_SearchHeight"="0"
"Wallpaper_2_PluginSetting_Pinterest_SearchMode"="0"
"Wallpaper_2_RotatePathsEnabled"="0"
"Wallpaper_2_SourceIsRandom"="0"
"Wallpaper_2_RotatePathsMinutes"="60"
"Wallpaper_2_ImageScalingPercent"="100"
"Wallpaper_2_MoveH"="0"
"Wallpaper_2_MoveV"="0"
"Wallpaper_2_Rotate"="0"
"Wallpaper_2_FlipH"="0"
"Wallpaper_2_FlipV"="0"
"Wallpaper_2_BlurAmount"="0"
"Wallpaper_2_InfoEnabled"="0"
"Wallpaper_2_InfoFormat"="<wp-title>"
"Wallpaper_2_InfoPosition"="0"
"Wallpaper_2_InfoFontFamily"="Arial"
"Wallpaper_2_InfoFontSizePoints"="9"
"Wallpaper_2_InfoFontStyle"="0"
"Wallpaper_2_InfoFontColorFore"="-1"
"Wallpaper_2_InfoFontColorStroke"="-16777216"
"Wallpaper_2_InfoFontStrokeSize"="5"
"Screen_2_X"="2560"
"Screen_2_Y"="-883"
"Screen_2_Width"="1440"
"Screen_2_Height"="2560"
"Screen_2_Primary"="0"
"Wallpaper_3_CombineWithMonitorID"="0"
"Wallpaper_3_ColourR"="0"
"Wallpaper_3_ColourG"="0"
"Wallpaper_3_ColourB"="0"
"Wallpaper_3_ColourR2"="0"
"Wallpaper_3_ColourG2"="0"
"Wallpaper_3_ColourB2"="0"
"Wallpaper_3_ColourGradient"="0"
"Wallpaper_3_ColourGradientAngle"="0"
"Wallpaper_3_Sizing"="6"
"Wallpaper_3_SizingNoStretch"="0"
"Wallpaper_3_FileName"=""
"Wallpaper_3_FileTitle"=""
"Wallpaper_3_FileDescription"=""
"Wallpaper_3_FileAttributionSourceURL"=""
"Wallpaper_3_FileWebID"=""
"Wallpaper_3_FileWebURL"=""
"Wallpaper_3_FileWebWeather"=""
"Wallpaper_3_LoadFromURLAddress"=""
"Wallpaper_3_ColourMode"="0"
"Wallpaper_3_LocalAlphaOrder"="0"
"Wallpaper_3_RotatePaths"=hex(7):00,00
"Wallpaper_3_RotatePathsEnabled"="999"
"Wallpaper_3_SourceIsRandom"="0"
"Wallpaper_3_RotatePathsMinutes"="60"
"Wallpaper_3_ImageScalingPercent"="100"
"Wallpaper_3_MoveH"="0"
"Wallpaper_3_MoveV"="0"
"Wallpaper_3_Rotate"="0"
"Wallpaper_3_FlipH"="0"
"Wallpaper_3_FlipV"="0"
"Wallpaper_3_BlurAmount"="0"
"Wallpaper_3_InfoEnabled"="0"
"Wallpaper_3_InfoFormat"="<wp-title>"
"Wallpaper_3_InfoPosition"="0"
"Wallpaper_3_InfoFontFamily"="Arial"
"Wallpaper_3_InfoFontSizePoints"="9"
"Wallpaper_3_InfoFontStyle"="0"
"Wallpaper_3_InfoFontColorFore"="-1"
"Wallpaper_3_InfoFontColorStroke"="-16777216"
"Wallpaper_3_InfoFontStrokeSize"="5"
"Screen_3_X"="-2944"
"Screen_3_Y"="349"
"Screen_3_Width"="1920"
"Screen_3_Height"="1080"
"Screen_3_Primary"="0"
"Wallpaper_3_PluginSetting_VideoWallpaper_SearchHiddenDirectoriesFiles"="1"
"Wallpaper_3_PluginSetting_VideoWallpaper_ShowAlphabetical"="1"
"Wallpaper_3_PluginSetting_VideoWallpaper_IgnoreWallpaperChangeTimer"="0"
"Wallpaper_3_PluginSetting_Flickr_SafeSearchLevel"="1"
"Wallpaper_3_PluginSetting_Reddit_AllowNSFW"="0"
"Wallpaper_3_PluginSetting_Reddit_SearchMode"="0"
"Wallpaper_3_PluginSetting_Tumblr_Blog"="wallpaperblog.tumblr.com"
"Wallpaper_3_PluginSetting_Tumblr_SearchMode"="0"
"Wallpaper_3_PluginSetting_Unsplash_PhotoSearchMode"="0"
"Wallpaper_3_PluginSetting_WallpaperAbyss_Sorting"="0"
"Wallpaper_3_PluginSetting_WallpaperAbyss_Width"="0"
"Wallpaper_3_PluginSetting_WallpaperAbyss_Height"="0"
"Wallpaper_3_PluginSetting_WallpaperAbyss_SearchMode"="1"
"Wallpaper_3_PluginSetting_DigitalBlasphemy_SearchWidth"="0"
"Wallpaper_3_PluginSetting_DigitalBlasphemy_SearchHeight"="0"
"Wallpaper_3_PluginSetting_Pinterest_SearchMode"="0"

[HKEY_CURRENT_USER\Software\Binary Fortress Software\DisplayFusion\WindowPositionProfiles]
